@use "sass:color";

$header-font: "canoe";
$body-font: "caslon";
$base-fonts: "fonts/";

$bg-color: #111;
$text-color: #F0F0F0;

$col1: #96e7f9;
$col2: #ff9595;
$col3: #ed8dfc;

$button-bg: color.adjust($col2, $saturation: -20%, $lightness: -35%);
$button-color: $text-color;
$link-color: color.adjust($col3, $lightness: 0%);
$link-color-hover: color.adjust($col3, $lightness: 10%);
$settings-color: $col1;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'DraggingCanoeRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: $body-font;
}


a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
.rulebook {
    color: #111111;
}

#setup {
    background-color: $col1;
}

#objective, #expansion {
    background-color: $col2;
}

#action_play {
    background-color: $col3;
}


// inline icons in rules
$ii-size: 24px;

.inline-icon 
{
    width: $ii-size;
    height: $ii-size;
    background-image: url("misc.webp"); // perhaps use downscaled version?
    display: inline-block;
    background-size: cover;
    vertical-align: bottom;
}

.inline-icon-only-review
{
    background-position-x: 0 * $ii-size;
}

.inline-icon-only-play
{
    background-position: -1 * $ii-size;
}

.inline-icon-power-skull
{
    background-position: -5 * $ii-size;
}

.inline-icon-power-card
{
    background-position: -6 * $ii-size;
}