$header-font: "Catamaran";
$body-font: "Catamaran";
$base-fonts: "fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Catamaran-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Catamaran-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: $body-font;
	color: #ECA;
	background-color: #4A3521;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
}

.screenshot-gallery-container {
	background-color: #4A3521; 
	margin-top: 70px;
	
	.title-container {
		text-align: center;
		margin-top:-55px;
	}
}

// @NOTE: compensates for the fact that the image has a wrong height (too small) */
.game-header img {
	margin-bottom: calc(100px - 10vw); 
}

.buy-link {
	background-color: #321;
	color: #FCA;

	&:hover {
		background-color:red;
		color: white;
	}
}

a {
	color: brown;
	transition: color 0.3s;

	&:hover {
		color: #FCA;
	}
}