@use "./shared.scss" as g;
@use "sass:color";

$bg-color: #FCFCFC;
$text-color: #212121;
$button-bg: g.$col2;
$button-color: #27231c;
$link-color: color.adjust(g.$col3, $lightness: -50%);
$link-color-hover: color.adjust(g.$col3, $lightness: -30%);
$settings-color: g.$col1;
$cutoff: 920px;

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: g.$header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: g.$body-font;
    //font-size: 1.175em;
}

body {
    font-family: g.$body-font;
    background-color: $bg-color;
    font-size: 21px;
    background-size: 100%;
    color: $text-color;
    line-height: 140%;
}

h2 {
    font-size: 3em;
    margin-bottom: 0;
}

h3 { 
    font-size: 2em;
    margin-bottom: 0;
}

.settings-remark {
    font-size: 0.75em; 
    opacity: 0.75;
}

.limit-width {
    max-width: $cutoff;
}

a {
    color: $link-color; 
    transition: color 0.3s;

    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    color: black;
    background-color: $settings-color;

    .setting-remark { color: black; }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    .tagline {
        font-size: 1.25em;
    }

    .metadata {
        font-size: 0.85em;
    }
}

.boardgame-intro .big-header-image {
    filter: none !important;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}







