$header-font: "palette";
$body-font: "oldstandard";
$fancy-font: "pettingill";
$base-fonts: "fonts/";

$col1: #DD92EC;
$col2: #92C5BF;
$col3: #EDB24E;

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'PaletteMosaic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $fancy-font;
    src: url($base-fonts + 'PettingillCF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OldStandardTT-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OldStandardTT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OldStandardTT-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
