@use "../../shared.scss";

$bg-color: #692b10;
$text-color: #FFEEDD;

$col1: #7e0f13;
$col1-dark: #4e080b;
$bg-col-dark: #371506;
$col2: #dde345; // #3e4a01;
$col2-hover: #fdffc7;
$col2-dark: #373804;
$button-bg: $col1;
$button-color: #ffd6e9;
$link-color: $col2;
$link-color-hover: $col2-hover;
$settings-color: $col1;

body
{
    background-color: $bg-color;
    color: $text-color;
}

a {
    color: $link-color; 

    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

.game-settings
{
    background-color: $settings-color;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
#setup {
    background-color: $bg-col-dark;
}

#objective {
    background-color: $col1-dark;
}

#action_play {
    background-color: $col2-dark;
}

#expansions {
    background-color: $bg-col-dark;
}

.remark {
    color: white;
    opacity: 0.66;
}

.rulebook-simple-view {
    .remark {
        color: black;
        opacity: 1.0;
    }
}

.rules-foldable > .heading-container .heading {
    h2, h3 {
        color: rgba(255,255,255,0.95);
    }
}