
$header-font: "celexa";
$body-font: "quixotte";
$base: "/the-luck-legends/roll/chaos-contract/assets/";
$base-fonts: $base + "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Celexa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Quixotte.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    font-size: calc(17px + .390625vw);
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
    text-decoration: none;
}

input, button, select, option, label 
{
    font-family: $body-font;
}