@font-face {
    font-family: 'Munstar';
    src: url('munstar.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Munstar';
    text-align: center;
    font-size: 64px;
    margin-bottom: 0px;
}

body {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 16pt;

    background-color: #FFFB91;
    color: black;
}

.intro-text {
    text-align:center; 
    font-size: 26px;
}

a, a:visited {
    color: #97EAD2;
}

ul, ol {
    margin-top:-17.5px;
    margin-left: -20px;
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 32px;
    }
}