@use "./shared.scss" as g;
@use "sass:color";

#setup {
    background-color: g.$col-spaceship;
}

#objective {
    background-color: g.$col-airplane;
}

#action_play {
    background-color: g.$col-ship;
}

#variants {
    background-color: g.$col-car;
}