
$col-spaceship: #8B46FF;
$col-airplane: #8C8C8C;
$col-ship: #41E2A8;
$col-car: #B6ED14;
$col-train: #FF3D8B;

// @TODO: How to easily get these stylesheets imported into every Naivigation rulebook??
.naivigation-shared-rule, .naivigation-shared-rule-block
{
    margin: 0.5rem;
    background-color: rgba(255,128,128,0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-left: 10px solid rgb(255, 48, 48);
    font-style: italic;
}

.naivigation-shared-rule
{
    &:before 
    {
        content: "CORE RULE |";
        opacity: 0.5;
        font-weight: bold;
    }
}

.naivigation-shared-rule-block
{
    .content > p:first-child::before 
    {
        content: "CORE RULES | ";
        opacity: 0.5;
        font-weight: bold;
    }
}