$header-font: "Palette";
$body-font: "Pettingill";
$base: "/cookie-smasher/assets/fonts/";

@font-face {
    font-family: 'Palette';
    src: url($base + 'PaletteMosaic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pettingill';
    src: url($base + 'PettingillCF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}