@use "sass:color";

$header-font: "bluebook";
$body-font: "domine";
$base-fonts: "/swiftsmash-saga/assets/fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Domine-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Domine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'BlueBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
}

input, button, select, option, label {
    font-family: $body-font;
}