@use "./shared.scss" as g;
@use "sass:color";

$light-blue: color.adjust(g.$col1, $lightness: 10%);
$light-pink: color.adjust(g.$bg-col, $lightness: -5%);

#setup {
    background-color: $light-blue;
}

#objective {
    background-color: $light-pink;
}

#action_play {
    background-color: $light-blue;
}

#expansions {
    background-color: $light-pink;
}

blockquote
{
    border-left: 0.25rem solid black;
    padding-left: 0.25rem;
}