@use "sass:map";
@use "sass:list";
@use "sass:math";

@use "modules/globals.scss" as g;
@use "modules/fonts" as f;

/* General body */
* {
	box-sizing: border-box;
}

body, html {
	--header-font: #{g.$header-font-stack};
	--body-font: #{g.$body-font-stack};

	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: var(--body-font);
	font-size: calc(var(--font-size-base) + 0.390625vw);
    line-height: 1.4em;
	background-color: #FCFCFC;
	color: #101010;
}

// Inversion default parameter for easy black-bg, white-text instead
body.invert {
	background-color: var(--palette-black);
	color: var(--palette-white);

	a:not(.btn) {
		color: var(--palette-bg);
		&:hover {
			color: var(--palette-white);
		}
	}
}

a {
	transition: color 0.3s;
	color: var(--palette-color);
	&:hover {
		color: var(--palette-black);
	}
}

p, li {
	a {
		font-weight: bold;
	}
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

video {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
	line-height: 100%;
	font-weight: normal;
}

.general-page, .info-page
{
	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		font-weight: 800;

		text-decoration: 0.05em wavy underline;
		text-decoration-skip-ink: none;
	}
}

h1 {
	font-size: 4vw;
}

h2 {
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: -0.25em;
}

h3 { 
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: -0.25em;
}

/* Metadata */

/* Footer */
footer {
	position: relative;
	z-index: 1000;

	content-visibility: auto;
	contain-intrinsic-size: 500px;
	
	button {
		font-weight: bold;
	}
}

.footer-divider {
	display: none;

	@media all and (max-width: g.$cutoff1) {
		position: relative;
		z-index: 999; /* footer itself has 1000 */

		display: block;
		height: 130px;
		margin-top: -1em;
		margin-bottom: -5.5em;
	}
}

/* Header */
header {
	
	button {
		font-weight: bold;
	}

	.hovering-gotobottom-btn {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		border: none;
		z-index: 1000;

		/* Button is small enough AND useful enough to keep around
		@media all and (max-width: g.$cutoff3) {
			display: none;
		}
		*/
	}
}

.maintenance-modal-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2000;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;

	.maintenance-modal-content {
		background-color: rgb(210, 212, 253);
		color: black;
		max-width: 500px;
		padding: 1.0em;
		margin: auto;
		margin-top: 1.75em;
		border-radius: 0.5em;
		filter: drop-shadow(0 0 0.4em black);
	}
}

/* Basic sections, centering, max-width, floating images, etc. */
section {

	.center {
		padding: 0 1em;
		max-width: g.$centered-section-width;
		margin: auto;
	}
}

.float-left, .float-right {
	max-width: 0.5 * g.$centered-section-width;

	@media all and (max-width: g.$cutoff2) {
		max-width: 100%;
		clear:both;
		float: none;
		text-align: center;
		width: 100%;
	}
}

.float-left { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.limit-width {
	max-width: g.$centered-section-width;
	padding: 1.0em;
	margin: auto;
}

/* This is basically all we need. If it ever becomes more, create a seperate SCSS file for this and include it */
.horizontal-flex-container {
	.flex {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		.text-side, .non-text-side {
			width: 100%;
			padding: 1.0em;
		}

		.non-text-side {
			video {
				width: 100%;
			}
		}

		@media all and (max-width: g.$cutoff2) {
			flex-wrap: wrap;
		}
	}

	&.reversed {
		.text-side { order: 1; }
		.non-text-side { order: 0; }
	}
}

/* Only apply the really rudimentary stuff */
.entry-banner {
	position: relative;
	margin-top: -2vw;
	height: 29vw;

	content-visibility: auto;
	contain-intrinsic-size: 1000px;

	.horizontal-flex {
		display: flex;
		flex-wrap: nowrap;
		z-index: 100;
		align-items: center;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.page-navigation {
	background-color: white;
}

video {
	background-color:white;
}

input, button, select, option, label {
	font-family: var(--body-font);
}
