@use "../css_shared/main.scss" as g;

h1, h2, h3, h4, h5, h6, a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game {
    font-family: g.$header-font;
}

body {
    font-family: g.$body-font;
    background-color: #FFCD7E;
    font-size: 20px;
    background-size: 100%;
}

input, button, select, option, label {
    font-family: g.$body-font;
}

label {
    font-size: 18px;
}

.limit-width {
    max-width: 960px;
}

h2 {
    font-size: 56px;
    margin-bottom: 0px;
}

h3 { 
    font-size: 38px;
    margin-bottom: -18px;

    &.settings-heading {
        margin-bottom: 0px;
        color: rgba(255,255,255,0.87);
    }
}

a {
    color: rgb(229, 36, 68);
    transition: color 0.3s;

    &:hover {
        color: #143109;
    }
}

.boardgame-intro {
    .tagline {
        border-radius: 15px;
        padding: 20px;
        position: relative;

        font-size: 22px;
        line-height: 130%;
    }
}



.game-settings {
    background-color: #472917;
}

a.download-btn, a.download-btn:visited, #btn-start-game, #btn-start-game:visited {
    background-color: #472917;
    color: #FFFFFF;
}

a.download-btn:hover, #btn-start-game:hover {
    background-color: #17471f;
    color: #d5f9db;
}

@media all and (max-width: 900px) {
    .tagline {
         background-color: #FFCD7E;
    }

    .game-settings {
        font-size: 12px;
    }

    body {
        background-image: none;
    }
}