<head>
    <meta charset="utf-8">

    <!-- Basic metadata stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">

    <!-- RSS Feed -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}

    <!-- OpenGraph Tags included, only on articles -->
    {{ if .Summary }}
	    <meta property="og:type" content="article" />
		<meta property="og:title" content="{{ .Title }}" />
		<meta property="og:description" content="{{ .Summary }}" />
		<meta property="og:image" content="{{ .Params.thumb }}" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:site_name" content="Pandaqi Games" />
	{{ end }}

    <!-- Progressive Web App essentials -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Pandaqi Games" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Load Default CSS -->
    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
    {{ $style := resources.Get "sass/styles.scss" | css.Sass $options | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

    <!-- Load Default JS --->
    {{ $js := resources.Get "/lib/functionality.ts" | js.Build "/lib/pq-games-functionality.js" | minify | fingerprint }}
    <script async defer src="{{ $js.RelPermalink }}"></script>

    <!-- Favicon (use default one on regular pages, unique one for game pages) -->
    {{ $favicon := partial "func/get-favicon.html" . }}
    <link rel="icon"  type="image/png" href="{{ $favicon }}">

    <!-- Title (use unique game title on game pages, default site descriptor otherwise) -->
    {{ $title := partial "func/get-page-title.html" . }}
    <title>{{ $title | safeHTML }}</title>
</head>