{{ $num_masks := .Site.Params.num_masks }}

<div class="narrow-flex">
	<nav>
		<ul>
			<li>
				{{ partial "button.html" (dict "href" "/" "content" "Home") }}
			</li>

			<li>
				{{ partial "button.html" (dict "href" "/info/about" "content" "About") }}
			</li>

			<li>
				{{ partial "button.html" (dict "href" "/info/contact" "content" "Hire me!") }}
			</li>

			<li>
				{{ partial "button.html" (dict "href" "/categories/game" "content" "All my video games") }}
			</li>

			<li>
				{{ partial "button.html" (dict "href" "/categories/boardgame" "content" "All my boardgames") }}
			</li>

			<li>
				{{ partial "button.html" (dict "href" "https://nietdathetuitmaakt.nl" "content" "Visit my (Dutch) webshop!") }}
			</li>

			<li>
				{{ partial "button.html" (dict "buttonID" "gotoTopBtn" "content" "Back to top") }}
			</li>

			<li>
				{{ partial "button.html" (dict "content" "Random Project" "buttonID" "randProjBtn") }}
			</li>

			<li>
				{{ partial "button.html" (dict "content" "Dark / Light Mode" "buttonID" "darkModeBtn") }}
			</li>

			<li>
				{{ partial "button.html" (dict "content" "Simple / Full Mode" "buttonID" "simpleModeBtn") }}
			</li>
		</ul>
	</nav>
</div>