@use "./shared.scss" as g;

h1,h2,h3,h4,h5,h6 {
    font-family: g.$header-font;
}

h2 {
    margin-bottom: -15px;
    margin-top:45px;
}

body {
    font-size: 20pt;
    font-family: g.$body-font;
    background-color: #DFF2D8;
}

main {
    background-image: url(timelytransports_bg.webp);
    background-size: 100%;
}

strong {
    color:#507327;
}

.boardgame-intro {
    .big-header-image {
        filter: none;
    }
    
    .text {
        margin-top: -25vw;
    }

    .tagline {
        position: relative; 
        background-color: #DFF2D8; 
        padding: 20px; 
        border-radius: 10px;
    }

    .metadata {
        font-size: 17pt;
        opacity: 0.75;
        font-weight: normal;
        color: white;

        @media all and (max-width: 1280px) {
            color: black;
        }
    }
}


.game-settings {
    background-color: #143109;
    color: white;
}

ul {
    margin-top:-15px;
}

a.download-btn, a.download-btn:visited {
    background-color: #F4C095;
    color: #040F0F;
    font-family: 'Rowdies';

    &:hover {
        background-color: #040F0F;
        color: #F4C095;
    }
}

.small-centered-image
{
    width: 100%;
    display: block;

    img {
        max-width: 350px;
        display: block;
        margin: auto;
    }
}

#btn-create-pdf, #btn-generate-board, #btn-create-pdf, #btn-start-game {
    font-family: g.$header-font;
}

#btn-create-pdf {
    background-color: purple;

    &:hover {
        color: #660033;
        background-color: pink;
    }
}

