$header-font: "rowdies";
$body-font: "yanone";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Rowdies-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Rowdies-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'YanoneKaffeesatz-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'YanoneKaffeesatz-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: #DFF2D8;
    color: #1A1A1A;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

strong {
    color:#507327;
}

.boardgame-intro 
{
    .text {
        margin-top: -25vw;
    }

    .tagline {
        position: relative; 
        background-color: #DFF2D8; 
        padding: 1.0rem;
        border-radius: 0.5rem;
    }

    .metadata {
        color: white;

        @media all and (max-width: 1280px) {
            color: black;
        }
    }
}

.game-settings {
    background-color: #143109;
    color: white;
}

a.download-btn, a.download-btn:visited {
    background-color: #F4C095;
    color: #040F0F;
    font-family: $header-font;

    &:hover {
        background-color: #040F0F;
        color: #F4C095;
    }
}

.small-centered-image
{
    width: 100%;
    display: block;

    img {
        max-width: 350px;
        display: block;
        margin: auto;
    }
}

#btn-create-pdf, #btn-generate-board, #btn-create-pdf, #btn-start-game {
    font-family: $header-font;
}

#btn-create-pdf {
    background-color: purple;

    &:hover {
        color: #660033;
        background-color: pink;
    }
}
