@use "./shared.scss" as g;

$bg-color: #5F5449;
$game-color: #51D6FF;
$board-color: #CB9CF2;
$link-color: #EE4266;
$text-color: #efe3d6;
$yellow-highlight: #FFD23F;

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: g.$header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $yellow-highlight;
}

body {
    font-family: g.$body-font;
    background-color: $bg-color;
    font-size: 18px;
    background-size: 100%;
    color: $text-color;
}

label {
    font-size: 18px;
}

.limit-width {
    max-width: 960px;
}

.no-shadow {
    .big-header-image {
        filter: none;
    }
}

h2 {
    font-size: 56px;
    margin-bottom: 0px;
}

h3 { 
    font-size: 38px;
    margin-bottom: 0px;
}

.game-settings {
    background-color: $game-color;
    color: #0a4c60;

    h3 { color: #0a4c60; }
    .setting-remark { color: rgba(0,0,0,0.5); }
}

#btn-start-game, #btn-start-game:visited {
    background-color: $game-color;
    color: #0a4c60;
    margin-top: 0.5em;

    &:hover {
        background-color: #0a4c60;
        color: $game-color;
    }
}

.board-game-settings {
    background-color: $board-color;
    color: #491476;

    h3 { color: #491476; }
    .setting-remark { color: rgba(0,0,0,0.5); }
}

#btn-generate-board, #btn-generate-board:visited {
    background-color: $board-color;
    color: #491476;
    margin-top: 0.5em;

    &:hover {
        background-color: #491476;
        color: $board-color;
    }
}

a.download-btn, a.download-btn:visited {
    color: #360303;
    background-color: $link-color;
    transition: color 0.3s;

    &:hover {
        color: $link-color;
        background-color: #360303;
    }
}

a {
    color: $yellow-highlight;
    &:hover {
        color: #fff2c8;
    }
}

.boardgame-intro {
    .tagline {
        color: $text-color;
    }
}