$header-font: "leckerli";
$body-font: "nunito";
$base-fonts: "fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Nunito-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Nunito-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'LeckerliOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6, a.btn, #btn-create-pdf, #btn-generate-board {
    font-family: $header-font, cursive;
}

body {
    font-family: $body-font, sans-serif;
    background-color: #FFCD7E;
    background-image: url(onepizza_bg.webp);
    background-size: 100%;
}

input, button, select, option {
    font-family: $body-font, sans-serif;
}

a {
    color: #143109;
    &:hover {
        color: rgb(151, 45, 63);
    }
}

.boardgame-intro {
    .big-header-image {
        filter: none;
    }

    .text {
        margin-top: -15vw;
    }

    .tagline {
        border-radius: 0.5rem;
        padding: 1rem;
        position: relative;
    }
}

.game-settings {
    background-color: #472917;
}

#btn-generate-board {
    background-color: #452545;
    color: #FFFFFF;

    &:hover {
        background-color: #f25fff;
        color: #040004;
    }
}

a.download-btn, a.download-btn:visited {
    background-color: #472917;
    color: #FFFFFF;
    &:hover {
        background-color: #FF8B7E;
        color: #330000;
    }    
}

#btn-create-pdf {
    font-weight: 900;
    background-color: #1D3C6C;
    color: #fcfffc;

    &:hover {
        background-color: #66A2FF;
        color: #030E1F;
    }
    
}

@media all and (max-width: 900px) {
    .tagline {
        background-color: #FFCD7E;
    }

    body {
        background-image: none;
    }
}