$base-fonts: "fonts/";

@font-face {
    font-family: 'UnifrakturCook';
    src: url($base-fonts + 'UnifrakturCook-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brygada';
    src: url($base-fonts + 'Brygada1918-Regular.woff2') format('woff2'),
        url($base-fonts + 'Brygada1918-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brygada';
    src: url($base-fonts + 'Brygada1918-Italic.woff2') format('woff2'),
        url($base-fonts + 'Brygada1918-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


$header-font: "UnifrakturCook", sans-serif;
$body-font: "Brygada", serif;
$crests-url: url(crests_full.webp);

