@use "sass:color";

//
// Main/Shared Fonts + Colors
//
$header-font: "grenze";
$body-font: "grenze";
$special-font: "fleur";
$base: "/librarians/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #111111;
$text-color: #FCFCFC;

$col1: #E5B80B;
$col2: #7B4B94;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Grenze-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Grenze-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Grenze-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $special-font;
    src: url($base-fonts + 'FleurCornerCaps.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//
// Page
//
body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    &::first-letter {
        font-family: $special-font;
        font-size: 1.5em;
        font-weight: normal;
    }
}

$button-bg: $col1;
$button-color: #27231c;
$link-color: color.adjust($col2, $lightness: 30%);
$link-color-hover: color.adjust($col2, $lightness: 50%);
$settings-color: $col1;

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
}

input, button, select, option, label 
{
    font-family: $body-font;
}

a 
{
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings 
{
    background-color: $settings-color;
}

.boardgame-intro 
{
    .tagline, .metadata 
    {
        color: $text-color;
    }
}

.btn-custom
{
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}