# redirect any HTTP request to HTTPS
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
SetEnvIf X-Forwarded-Proto "https" HTTPS=on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine on
# RewriteBase /Pandaqi/
RewriteBase /

Options -MultiViews

# redirect any "about/blabla" to the same page, but with different parameters
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^about/?$ about.php?pagetype=me
RewriteRule ^about/([^\/.]+)/?$ about.php?pagetype=$1

# redirect "/games" to games.php, which should display a full list of games
RewriteRule ^games/?$ games.php?pagenum=1
RewriteRule ^games/([^\/.]+)/?$ games.php?pagenum=$1

# lastly, redirect any url to the main game page
# which should have the exact same name as the slur
RewriteCond %{REQUEST_URI} !^/gamesites/$
RewriteRule ^([^/.]+)/?$ gamesites/$1/index.php

ErrorDocument 404 https://pandaqi.com



