

$header-font: "vanillawhale";
$body-font: "sourceserif";
$base: "/mapped-out/assets/";
$base-fonts: $base + "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'VanillaWhale-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SourceSerif418pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SourceSerif418pt-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SourceSerif418pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SourceSerif418pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
    font-size: normal;
    text-decoration: none;
}

input, button, select, option, label 
{
    font-family: $body-font;
}