$font-raw: "arbutus";
$base-assets: "/keebble-games/assets/";
$base-fonts: $base-assets + "fonts/";

@font-face {
    font-family: $font-raw;
    src: url($base-fonts + "ArbutusSlab-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$header-font: $font-raw, Helvetica, sans-serif;
$body-font: $font-raw, Georgia, serif;
$special-cells-url: url(/keebble-games/spell/keebble/assets/special_cells.webp);
$special-cells-domino-url: url(/keebble-games/spell/keebble-domino/assets/special_cells.webp);
$knickknack-options-url: url(/keebble-games/spell/keebble-knickknack/assets/option_icons.webp);

$main-color: #7c2b6b;
$inv-color: #93d33e;
$inv-color-dark: #426613;
$tagline-bg: #9ebc8b;
$cutoff: 900px;

body {
    font-family: $body-font;
    background-color: #d8d8d8;
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
}

a {
    color: $main-color; 
    &:hover {
        color: $inv-color-dark;
    }
}

.game-settings {
    background-color: $main-color;
    color: white;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $main-color;
    color: #FFFFFF;
    
    &:hover {
        background-color: $inv-color;
        color: #111111;
    }
}

@media all and (max-width: $cutoff) {
    body {
        background-image: none;
    }

    .tagline {
        background-color: $tagline-bg;
        padding: 1em;
        border-radius: 1em;
    }
}