$header-font: "puss";
$body-font: "catcafe";
$base: "/nine-lives-math-meows/assets/";
$base-fonts: $base + "fonts/";

$bg-image-url: url($base + "bg_cat_outline.webp");

$col1-dark: #1B7900;
$col2-dark: #1E41AA;
$col3-dark: #AA1E2B;
$col4-dark: #444444;

$col1: #a7ed94;
$col2: #bbcbff;
$col3: #ffc1c7;
$col4: #dbdbdb;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'catcafe.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'puss.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}