@use "./shared.scss" as g;
@use "sass:color";

body {
    font-family: g.$body-font;
    background-color: #FCFCFC;
    font-size: 20px;
}

h1, h2, h3, h4 {
    font-family: g.$header-font;
    //font-weight: normal;
}

#setup {
    background-color: g.$col1;
}

#objective {
    background-color: g.$col2;
}

#action_play {
    background-color: g.$col3;
}

#lives {
    background-color: g.$col4;
}

#expansions {
    background-color: g.$col1;
}