@use "./shared.scss" as g;
@use "sass:color";

body {
    color: #111111;
}

$light-yellow: color.adjust(g.$col1, $lightness: 10%);
$light-purple: color.adjust(g.$col3, $lightness: 10%);

#setup {
    background-color: $light-yellow;
}

#objective {
    background-color: $light-purple;
}

#action_play {
    background-color: $light-yellow;
}

#expansions {
    background-color: $light-purple;
}

blockquote {
    border-left: 0.25em solid rgba(0,0,0,0.85);
    padding-left: 0.25em;
}