$header-font: "vlaanderen";
$body-font: "rokkitt";
$base: "/mountain-miners/assets/";
$base-fonts: $base + "fonts/";

$bg-col: #111111;
$text-col: #FCFCFC;

$col1: #E5B80B;
$col2: #7B4B94;

body {
    font-family: $body-font;
    background-color: $bg-col;
    color: $text-col;
    font-size: calc(15px + 0.390625vw);
    line-height: 120%;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $header-font;
    font-weight: normal;
}


@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'VlaanderenChiseledNF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rokkitt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rokkitt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rokkitt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}