@use "sass:color";

$header-font: "getronde";
$body-font: "ibmplex";
$special-font: "trollhunter";
$base: "/feed-the-beast/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #113322;
$text-color: #FCFCFC;

$col1: #E5B80B;
$col2: #684fb2;

$button-bg: $col1;
$button-color: #27231c;
$link-color: color.adjust($col2, $lightness: 30%);
$link-color-hover: color.adjust($col2, $lightness: 50%);
$settings-color: $col1;

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'GETRONDE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IBMPlexSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IBMPlexSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IBMPlexSerif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IBMPlexSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $special-font;
    src: url($base-fonts + 'Trollhunters.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
    color: black;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
.rulebook {
    color: #111111;
}

$light-yellow: color.adjust($col1, $lightness: 10%);
$light-purple: color.adjust($col2, $lightness: 34%);

#setup {
    background-color: $light-yellow;
}

#objective {
    background-color: $light-purple;
}

#action_play {
    background-color: $light-yellow;
}

#beasts {
    background-color: $light-purple;
}

#expansions {
    background-color: $light-yellow;
}



