{{- $content := .InnerDeindent -}}
{{- $heading := or (.Get "heading") "Unnamed Section" -}}
{{- $folded := or (.Get "folded") "true" -}}
{{- $invert_class := "normal-colors" -}}
{{- if (.Get "invert") -}}{{- $invert_class = "invert-colors" -}}{{- end -}}
<div class="game-settings-section" data-folded="{{ $folded }}">
	<div class="section-header {{ $invert_class }}">
		<h3 class="section-heading">{{- $heading -}}</h3>
		<span class="section-instruction">(Click to fold.)</span>
	</div>
	<div class="section-content">{{- $content -}}</div>
</div>