{{- $class := .Get "class" -}}
{{- $context := $.Page -}}
{{- $tagline := or .Inner (or $context.Params.blurbShort $context.Params.blurb) -}}
<section class="boardgame-intro {{ $class }}">
	<div class="big-header-image">
		{{- $img := or (.Get "img") (partial "func/get-game-header.html" $context) -}}
		{{- if $img -}}
			{{- partial "show-image.html" (dict "context" $context "img_url" $img) -}}
		{{- end -}}
	</div>
	<div class="center text">
		{{- $heading := .Get "heading" -}}
		{{- with $heading -}}
			<h1>{{- . -}}</h1>
		{{- end -}}
		<p class="tagline">{{- $tagline | markdownify -}}</p>
		<p class="metadata">
			{{- $data_keys := slice "requirements" "ages" "difficulty" "playtime" -}}

			{{- $full_slice := slice -}}
			{{- range $key, $val := $data_keys -}}
				{{- $param_value := ($.Page.Param $val) -}}
				{{- if $param_value -}}
					{{- $param_val_sanitized := string $param_value -}}
					{{- if eq $val "difficulty" -}}{{- $param_val_sanitized = $param_val_sanitized | humanize -}}{{- end -}}
					{{- if eq $val "playtime" -}}{{- $param_val_sanitized = printf "%s minutes" $param_val_sanitized -}}{{- end -}}
					{{- $full_slice = $full_slice | append (printf "%s: %s" ($val | humanize) $param_val_sanitized) -}}
				{{- end -}}
			{{- end -}}

			{{- delimit $full_slice " | " -}}
		</p>
		<p class="download-btn-container">
			{{- $url := or ($context.Params.downloadLink) (.Get "url") -}}
			<a href="{{- $url -}}" class="btn download-btn">Download</a>
		</p>
	</div>
</section>