<section>
	<div class="center">

        <div class="title-container"><h2>Hire me</h2></div>
        <p>Are you a games publisher? I'm always open to inquiries about publishing one of my games.</p>
        <p>Need a special board game or video game? Maybe for a birthday, school or another purpose?</p>
        <p><a href="/info/contact">Contact me!</a> You can ask me anything&mdash;I don't bite! In fact, I've never bitten anyone.</p>
        <p>If unsure, visit my <a href="https://rodepanda.com">portfolio</a> to learn more about my work. You can also contact me through there, as I'm a registered freelance artist in the Netherlands.</p>

        <div class="title-container"><h2>Support</h2></div>
        <p>Enjoyed my work (or not)? Let me know what you think! Mail me at <a href="mailto:askthepanda@pandaqi.com">askthepanda@pandaqi.com</a> with any feedback.</p>
        
        <p>That's already a great way to support me.</p>
        <p>Alternatives would be to buy my paid work (a win-win situation!). Or to donate through the most popular channels.</p>

        <div>
            {{ partial "donation-buttons.html" . }}
        </div>
    </div>
</section>



