$header-font: "vina";
$body-font: "urbanist";
$base-fonts: "fonts/";

$bg-col: #020823;
$text-col: #FCFCFC;

$col1: #96baf9;
$col2: #f9b3c4;
$col3: #dfdfdf;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Urbanist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Urbanist-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Urbanist-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'VinaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

