body {
    background-image: url(webp/itch_bg.webp);
    background-repeat: repeat;
    font-family: 'Corben', serif;
    font-size: 20px;
    line-height: 140%;

    background-color: #DBA05D;
    color: #101010;
}

div.center, .buy-link-container, section.limit-width {
    background-color: #C2F4CF;
}

div.center {
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Puppies Play', cursive;
}

.game-header {
    padding: 0;
    background: none !important;
}

.heading-image {
    max-width: 920px;
    width: 100%;
    margin: auto;
}

h1, h2 {
    text-align: center;
    font-size:96px;
    margin-bottom: -10px;
    margin-top: 20px;
}

.screenshot-gallery-container {
    h2 {
        margin-top: 10px;
    }
}

.buy-link-container {
    margin-top: -0.75vw;
}

.intro-text {
    margin-top: -20px;
}

.outro-text {
    margin-bottom: 60px;

    div.center {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.buy-link-container .buy-link {
    font-family: "Corben";
    font-size: 24px;

    border-radius: 0px;
    filter: none;
    box-shadow: none;

    border-radius: 5px;

    background-color: #DA2C38;
    color: white;

    &:hover {
        background-color: #232323;
        color: white;
    }
}

a {
    color: #082749;
    &:hover {
        color: #134479;
    }
}