@use "sass:map";
@use "sass:math";
@use "../keebble/shared.scss" as g;

/* Core */
* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: g.$header-font;
    background-color: #325109;
    color: #f4ffe4;
}

.disable-select
{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.popUp {
    animation-name: popUp;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.attention-repeat {
    animation-name: smallPopUp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes popUp {
    from { transform: scale(1.35); }
    to { transform: scale(1.0); }
}

@keyframes smallPopUp {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1.0); }
}

/* Buttons, input, the usual stuff */
button, input {
    width: 100%;
    font-family: g.$header-font;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
}

input {
    padding: 1rem;
}

.button-look {
    padding: 0.5rem;
    filter: drop-shadow(0 0 5px black);
    background-color: rgba(255,255,255,0.85);
    border: none;
    color: black;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    border-radius: 0.25rem;
}

.button-look:hover {
    background-color: rgba(0,0,0,0.85);
    color: white;
}

/* Players */
.players-container,
.game-over-container 
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    padding: 1em;
}

.players-sub-container,
.game-over-sub-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 500px;
    line-height: 150%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.25);
    border-radius: 0.66rem;
}

.remark {
    font-size: 0.7rem;
    opacity: 0.7;
}

.player-name {
    color: #ffcbfd;
    text-decoration: underline;
}

/* Game over */
.game-over-message {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 160%;
}

.game-over-results {
    width: 100%;

    & > div {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        &:nth-of-type(odd)
        {
            background-color: rgba(0,0,0,0.15);
        }

        &.game-over-winner
        {
            background-color: #ff8282;
            filter: drop-shadow(0 0 5px black);
            border-radius: 0.25rem;
            color: #3f0101;
        }

        
    }
}

.game-over-navigation {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* Powerups (todo) */
.powerups-container {
    background-color: #28b6c1; /* #7BF4FD; */
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-look {
        background-color: transparent;
        filter: none;
    }
}

/* Header */
.header {
    display: flex;
    padding: 1rem;
    background-color: rgba(0,0,0,0.25);
    gap: 1rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    gap: 0.5rem;
}

/* Options */
.options-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.option {
    display: flex;
    gap: 0.5rem;

    &.option-small {
        gap: 0;
    }
}

/* Instructions */
.instructions-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;

    .instructions-sub-container {
        max-width: 500px;

        p {
            line-height: 160%;
        }
    }
}

/* Backpacks */
.backpacks-window,
.scores-window {
    padding: 1rem;
    color: #111111;
}

.backpacks-window
{
    background-color: #ffa1eb;
}

/* Scores */
.scores-window {
    background-color: #efe7a2;
}

.player-score-container, 
.player-backpack-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.player-score-container:nth-of-type(odd),
.player-backpack-container:nth-of-type(odd)
{
    background-color: rgba(0,0,0,0.15);
}

/* Suboptions + icons */

.suboption-sprite {
    position: relative;
    width: 88.75px;
    height: 88.75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suboption-sprite-small {
    width: 40px;
    height: 40px;
}

$option-icons: (
    "letter": 0,
    "wall": 1,
    "start_player": 2,
    "points": 3,
    "cell": 4,
    "swap": 5,
    "destroy": 6,
    "po_letter": 7,
    "po_word": 8,
    "po_straight": 9,
    "po_connect": 10,
    "po_clear": 11,
    "empty_backpack": 12,
    "points_standalone": 13
);

@each $name, $frame in $option-icons {

    .suboption-sprite-#{$name} {
        background-image: g.$knickknack-options-url;
        background-size: cover;
        background-position-x: -$frame * 100%;
    }
}


.letter-option-letter {
    font-size: 2.0rem;
}

.suboption-sprite-small {
    .letter-option-letter {
        font-size: 1.0rem;
    }
}

.letter-option-point-value {
    position: absolute;
    right: 0.6rem;
    bottom: 0.6rem;
    font-size: 0.85rem;
    opacity: 1.0;
}

.points-option-point-value {
    position: absolute;
    right: 0;
    font-size: 2.5rem;
    color: black;

    /*bottom: 0;
    -webkit-text-stroke: 2px #1e3404;
    filter: drop-shadow(0 0 5px black);*/
}

//@TODO: needs more styling?
.twopart-number {
    font-size: 2.0rem;
}

.suboption-sprite-small {
    .twopart-number {
        font-size: 1.0rem;
    }
}

/* Cell type icons */
$icons: (
    "start": 0,
    "doubleWord": 1,
    "tripleWord": 2,
    "doubleLetter": 3,
    "tripleLetter": 4,
    "big-ask": 5,
    "thief": 6,
    "destroyer": 7,
    "go-again": 8,
    "garbage": 9,
    "blockade": 10,
    "collector": 11
);

.cell-sprite {
    width: 64px;
    height: 64px;
    background-image: g.$special-cells-url;
    margin: auto;
}

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }

    .cell-sprite-#{$name} {
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
    }
}