$header-font-raw: "cherrybomb";
$header-font: $header-font-raw, serif;
$body-font-raw: "quicksand";
$body-font: $body-font-raw, sans-serif;
$base-fonts: "fonts/";

// decided to just abandon this for simplicity
$bg-color: #FF76A0;
$text-color: #320011;
$button-bg: #6ce55a;
$button-color: #073506;
$link-color: #820952;
$link-color-hover: #aa1a71;
$settings-color: #524efe;

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'CherryBombOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Quicksand-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Quicksand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

body {
    font-family: $body-font;
}