$header-font: "Fredoka";
$body-font: '"Open Sans"';
$base-fonts: "fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OpenSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Fredoka-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Fredoka-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    background-image: url(bg_pattern.webp);
    background-repeat: repeat;
    font-family: $body-font;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

h2 {
    font-size:42px;
    margin-bottom: 0px;
    margin-top:0px;
    text-decoration: 1pt wavy;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    text-decoration-line: underline;

    color: #330000;
}

.buy-link {
    margin-top:60px;
    display: inline-block;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius:0.5em;
    text-decoration: none;
    font-family: 'Fredoka One';

    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 10px 2px #333;

    &:hover {
        background-color: white;
        color: #333;
    }
    
}

.limit-width {
    max-width: 1280px;
}

.game-header {
    .video-no-header {
        max-width: 900px;
    }
}

section {
    a {
        display:block;
        padding: 20px;
        background-color: #0E6A43;
        color: white;
        border-radius:0.5em;
        text-decoration: none;
        font-family: 'Fredoka One';

        transition: background-color 0.5s, color 0.5s;
        box-shadow: 0 0 10px 2px #333;

        &:hover {
            background-color: white;
            color: #333;
        }
    }

}