
@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-Medium.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-Italic.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-ExtraBold.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GelDoticaLowerCaseThick';
    src: url('/photomone/assets/fonts/GelDoticaLowerCaseThick.woff2') format('woff2'),
        url('/photomone/assets/fonts/GelDoticaLowerCaseThick.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$header-font: "GelDoticaLowerCaseThick", sans-serif;
$body-font: "Proza Libre", serif;
$border-image-url: url(/photomone/assets/photomone_border_image.webp);
$photomone-types-url: url(/photomone/assets/point_types.webp);
$photomone-digital-types-url: url(/photomone-digital-antists/assets/point_types.webp);

$photomone-antsassins-almost-actions-url: url(/photomone-antsassins/assets/almost_actions.webp);
$photomone-antsassins-bg-pattern-url: url(/photomone-antsassins/assets/bg_pattern.webp);