@use "sass:map";
@use "sass:math";

$header-font: "GelDoticaLowerCaseThick", sans-serif;
$body-font: "Proza Libre", serif;

@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-Medium.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-Italic.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/photomone/assets/fonts/ProzaLibre-ExtraBold.woff2') format('woff2'),
        url('/photomone/assets/fonts/ProzaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GelDoticaLowerCaseThick';
    src: url('/photomone/assets/fonts/GelDoticaLowerCaseThick.woff2') format('woff2'),
        url('/photomone/assets/fonts/GelDoticaLowerCaseThick.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$icons: (
    "numLines": 0,
    "distance": 1,
    "points": 2,
    "remove": 3,
    "fixed": 4,
    "repel": 5,
    "curve": 6,
    "add": 7,
    "trap": 8,
    "wings": 9,
    "teleport": 10,
    "poisonTrail": 11,
    "leader": 12,
    "dreamdrawing": 13,
    "break": 14,
    "pants": 15,
    "solid": 16,
    "eyes": 17,
    "unfinished": 18,
    "eraser": 19
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }
    @if $frame >= 16 {
        $row: 2;
    }

    .icon-#{$name} {
        background-image: url(/photomone/assets/point_types.webp);
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

body {
    font-family: $body-font;
    //background-color: #CB9CF2; // #5F5449;
    font-size: 17px;
}

$colors: (
    "setup": #FFD23F,
    "objective": #CB9CF2,
    "action_play": #FFD23F,
    "rules_of_drawing": #CB9CF2,
    "expansions": #FFD23F,
);

@each $name, $color in $colors {
    ##{$name} {
        background-color: $color;
    }
}

@media print {
    body {
        font-size: 14px;
    }

    @each $name, $color in $colors {
        ##{$name} {
            background-color: transparent !important;

            .heading-container {
                background-color: $color;
            }
        }
    }
}