{{ $num_masks := 8 }}

{{ $content := .content }}
{{ $fail_content := or .failContent "" }}
{{ $href := or .href "" }}
{{ $button_id := or .buttonID "" }}

{{ $rand := index (seq $num_masks | shuffle) 0 }}

{{ $max_tag_rot := 3 }}
{{ $rand_rot := sub (index (seq (mul $max_tag_rot 2) | shuffle) 0) $max_tag_rot }}
{{ $rot := printf "--rotation:%ddeg;" $rand_rot }}

{{ $extra_class := or .class "" }}
{{ $class := printf "button mask-%d %s" $rand $extra_class }}

{{ $icon := or .icon "" }}
{{ if gt (len $icon) 0 }}
    {{ $content = printf "<span class='text'>%s</span><span class='icon hoverable %s'></span>" $content $icon }}
{{ end }}

{{ if gt (len $button_id) 0 }}
    <button id="{{ $button_id }}" class="{{ $class }}" style="{{ $rot | safeCSS }}">{{ $content | safeHTML }}</button>
{{ else }}
    {{ if le (len $href) 0 }}
        {{ $fail_content | safeHTML }}
    {{ else }}
        <a href="{{ $href }}" class="{{ $class }}" style="{{ $rot | safeCSS }}">{{ $content | safeHTML }}</a>
    {{ end }}
    
{{ end }}