<div class="donation-buttons-container">
	<a href="https://patreon.com/tiamopastoor" class="button big-mask patreon">
		<div class="button-container">
			<img src="/svg/patreon.svg" style="width: 32px;" /><span>Support me on Patreon</span>
		</div>
	</a>
	<a href="https://www.buymeacoffee.com/tiamopastoor" class="button big-mask buy-me-a-coffee">
		<div class="button-container">
			<img src="/svg/buy_me_a_coffee.svg" style="width: 32px;" /><span>Buy me a Coffee</span>
		</div>
	</a>
	<a href="https://ko-fi.com/tiamopastoor" class="button big-mask ko-fi">
		<div class="button-container">
			<img src="/svg/ko_fi.svg" style="width: 32px;" /><span>Support me on Ko-Fi</span>
		</div>
	</a>
	<div class="button big-mask paypal">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="BVNZNXC7TP3VG">
			<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" border="0">
		</form>
	</div>
</div>