

$header-font: "requiem";
$body-font: "ancient";
$base: "/death-by-digits/assets/";
$base-fonts: $base + "fonts/";


@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'JSL-Ancient.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'JSL-AncientItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Requiem.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//
// Page
//
body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
}

input, button, select, option, label 
{
    font-family: $body-font;
}