@use "sass:map";
@use "sass:math";

$header-font: "Arbutus Slab", sans-serif;
$body-font: "Arbutus Slab", serif;

@font-face {
    font-family: 'Arbutus Slab';
    src: url(../../../keebble/assets/ArbutusSlab-Regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$icons: (
    "start": 0,
    "double-word": 1,
    "triple-word": 2,
    "double-letter": 3,
    "triple-letter": 4,
    "big-ask": 5,
    "thief": 6,
    "destroyer": 7,
    "go-again": 8,
    "garbage": 9,
    "blockade": 10,
    "collector": 11
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }

    .icon-#{$name} {
        background-image: url(../../../keebble/assets/special_cells.webp);
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

body {
    font-family: $body-font;
    background-color: #FCFCFC;
    font-size: 17px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.0em;
    string-set: title content(text);
}

h3 { 
    font-size: 1.0em;
}

ul {
    margin-top: -0.85em;
    margin-bottom: 1.5em;
}

/* custom (option) icons */
$option-icons: (
    "letter": 0,
    "wall": 1,
    "start": 2,
    "points": 3,
    "cell": 4,
    "swap": 5,
    "destroy": 6,
    "po_letter": 7,
    "po_word": 8,
    "po_straight": 9,
    "po_connect": 10,
    "po_clear": 11,
    "empty_backpack": 12,
    "points_standalone": 13
);

@each $name, $frame in $option-icons {

    .rules-icon-option-#{$name}, .icon-option-#{$name} {
        background-image: url(../../assets/option_icons.webp);
        background-size: cover;
        background-position-x: -$frame * 100%;
    }
}


/* Headings */
$colors: (
    "setup": #d9ffa9,
    "objective": #68fed3,
    "expansions": #bebef6,
    "action_play": #ffb6df,
    "action_scoring": #ffd68f,
    "options": #f8cca6
);

@each $name, $color in $colors {
    ##{$name} {
        background-color: $color;
    }
}

@media print {
    body {
        font-size: 14px;
    }

    @each $name, $color in $colors {
        ##{$name} {
            background-color: transparent !important;

            .heading-container {
                background-color: $color;
            }
        }
    }

}