@use "sass:color";

$header-font: "underlapped";
$body-font: "sofia";
$base: "/captain-flip/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #6BD2F9;
$text-color: #050521;

$col1: #bbf337;
$col2: #390543;
$col3: #fde90c;

$button-bg: $col1;
$button-color: #27231c;
$link-color: color.adjust($col2, $lightness: 0%);
$link-color-hover: color.adjust($col2, $lightness: 20%);
$settings-color: $col1;

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Underlapped.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SofiaSansCondensed-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SofiaSansCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'SofiaSansCondensed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4 {
    font-family: $header-font;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    color: black;
    background-color: $settings-color;
    .setting-remark { color: black; }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
$light-yellow: color.adjust($col1, $lightness: 10%);
$light-purple: color.adjust($col3, $lightness: 10%);

#setup {
    background-color: $light-yellow;
}

#objective {
    background-color: $light-purple;
}

#action_play {
    background-color: $light-yellow;
}

#expansions {
    background-color: $light-purple;
}

blockquote {
    border-left: 0.25em solid rgba(0,0,0,0.85);
    padding-left: 0.25em;
}