<!DOCTYPE html>
<html>
    {{ block "head" . }}{{- partial "head.html" . -}}{{ end }}

    {{ $class := "general-page" }}
    {{ if eq .Type "gamepage" }}{{ $class = "game-page" }}{{ end }}
    {{ if eq .Type "infopage" }}{{ $class = "info-page" }}{{ end }}

    {{ $class_invert := "" }}
    {{ if .Params.invert }}{{ $class_invert = "invert" }}{{ end }}

    <body class="{{ $class }} {{ $class_invert }}">
        {{ block "header" . }}
            {{- partial "header.html" . -}}
        {{ end }}

        <main>
            {{- block "main" . }}{{- end }}
        </main>

        {{ block "footer" . }}
            {{- partial "footer.html" . -}}
        {{ end }}
    </body>
</html>