{{- $type := or (.Get "type") "material" -}}

{{- $heading := "Settings" -}}
{{- if eq $type "material" -}}
	{{- $heading = "Material" }}
{{- end -}}
{{- if eq $type "board" -}}
	{{- $heading = "Board" -}}
{{- end -}}
{{- if eq $type "game" -}}
	{{- $heading = "Game" -}}
{{- end -}}

{{- $anchor := $type -}}
{{- $remarks := split (or (.Get "remarks") "") "||" }}

{{- $context := $.Page -}}

<section class="boardgame-settings-container">
	<div class="center">
		<a name="{{ $anchor }}"></a>
		<h2>{{ $heading }}</h2>
		<p>Pick your desired settings and press the button! (A new page will open.) When in doubt, just use the defaults for your first game(s).</p>
		{{- .InnerDeindent -}}
		{{- if or (eq $type "material") (eq $type "board") -}}
		<p class="settings-remark"><strong>Not working? Or unsure what to do?</strong> The "Download" button above has PDFs I already made for you! Pick any one of those.</p>
		{{- end -}}
		{{- range $remarks -}}
			<p class="settings-remark">{{- . | markdownify -}}</p>
		{{- end -}}
	</div>
</section>