{{- $class := .Get "class" -}}

<section class="game-header {{ $class }}">

	{{- if (.Get "bg") -}}
		{{- $img_url := add (.Get "bg") ".webp" -}}
		{{- partial "show-image.html" (dict "context" $.Page "img_url" $img_url) -}}
	{{- end -}}

	{{- $border_col := or (.Get "col") "#6bb73e" -}}
	{{- $border_width := or (.Get "thickness") "5px" -}}

	{{- $base_class := "video-over-header" -}}
	{{- $fixed_size := "width='560' height='315'" -}}
	{{- if .Get "full-size" -}}
		{{- $fixed_size = "" -}}
		{{- $base_class = "video-no-header" -}}
	{{- end -}}

	<div class="{{ $base_class }}" style="border-color:{{ $border_col }};border-size:{{ $border_width }};">

		<div class="static-logo">
			{{- if .Get "static-logo" -}}
				{{- $img_url := add (.Get "static-logo") ".webp" -}}
				{{- partial "show-image.html" (dict "context" $.Page "img_url" $img_url) -}}
			{{- end -}}
		</div>

		<div class="video-container">
			<iframe src='{{- .Get "vid" -}}' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" {{- $fixed_size -}} frameborder="0"></iframe>
		</div>
	</div>

	{{- if .Get "caption" -}}
		<div class="video-caption">
			{{- .Get "caption" | markdownify -}}
		</div>
	{{- end -}}
</section>