{{ $key := or (.Get "key") "one-paper-game" }}
{{ $metadata_type := or (.Get "type") "categories" }}
{{ $metadata_path := printf "Params.%s" $metadata_type }}

<div class="game-grid">
	{{ range where .Site.Pages $metadata_path "intersect" (slice $key) | first 8 }}
		{{ $img_url := partial "func/get-game-header.html" . }}
		{{ $blurb := .Params.blurb }}
		{{ if .Params.longblurb }}
			{{ $blurb = .Params.longblurb | safeHTML }}
		{{ end }}
		<a href="{{ .RelPermalink }}">
			{{ partial "show-image.html" (dict "context" . "img_url" $img_url) }}
			<h3>{{ .Title }}</h3>
			<p>{{ $blurb }}</p>
		</a>
	{{ end }}
</div>
<div>
	<a href="/{{ $metadata_type }}/{{ $key }}" class="full-category-overview-link">View the full list >></a>
</div>