{{- $class := or (.Get "class") "" -}}
{{- $unfoldable := or (.Get "unfold") "" -}}
{{- $inner := .Inner -}}
{{- $anchor := or (.Get "anchor") "" -}}
{{- $heading := or (.Get "heading") "" -}}
{{- $as_image := or (.Get "asimage") false -}}
{{- $icon := or (.Get "icon") "" -}}
{{- $html := or (.Get "html") "" -}}

<section class="{{ $class }}">
	<div class="center">
		{{- if $anchor -}}
			<a name='{{ $anchor }}'></a>
		{{- end -}}
		{{- if $heading -}}
			<div class="title-container">
				{{- if $as_image -}}
					<div class="heading-as-image"><img src="{{ $heading }}" /></div> 
				{{- else -}}
					{{- if $icon -}}
						<h2 class="heading-with-icon">
							<div class="part-icon"><img src="{{ $icon }}"></div>
							<div class="heading-icon">{{- $heading -}}</div>
						</h2>
					{{- else -}}
						<h2>{{- $heading -}}</h2>
					{{- end -}}
				{{- end -}}
			</div>
		{{- end -}}

		{{- if $unfoldable -}}
			<p id="unfold-explanation-container">
				<a href="#" id="unfold-explanation-btn">Click here</a> to unfold.
			</p>
			<span id="unfold-explanation" style="display: none;">
		{{- end -}}


		{{- if $html -}}
			{{- $inner | safeHTML -}}
		{{- else -}}
			{{- $inner | .Page.RenderString -}}
		{{- end -}}

		{{- if $unfoldable -}}
			</span>
		{{- end -}}
	</div>
</section>