{{- $class := or (.Get "class") "" -}}

<section class="horizontal-flex-container {{ $class }}">
	<div class="flex">
		<div class="text-side">
			{{- if .Get "heading" -}}
				<div class="titleContainer"><h2>{{- .Get "heading" -}}</h2></div>
			{{- end -}}

			{{- .Inner | markdownify -}}
		</div>

		<div class="non-text-side">
			{{- $media_url := (.Get "media") -}}
			{{- $is_video := (.Get "video") -}}
			{{- partial "show-media.html" (dict "context" . "media_url" $media_url "is_video" $is_video) -}}
		</div>
	</div>
</section>