$header-font: "primitive";
$body-font: "rosarivo";
$base: "/split-the-foody/assets/";
$base-fonts: $base + "fonts/";

$col1: #649C1C;
$col2: #2A89C8;
$col3: #E68241;
$col4: #735CA5;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rosarivo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rosarivo-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Primitive.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
