body, html {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-family: 'Raleway', sans-serif;
	font-size:16pt;
}

header {
	background-color: #3D1406;
	display: block;

	border-bottom: 10px solid #4E1D0D;
}

.headerFlexbox {
	height: 100%;
	margin: auto;
	max-width: 75vw; /* 900px; */

	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
}

img {
	max-height: 100%;
}

footer {
	background-color: #333;
	margin-top:0px;
}

.footerFlexbox {
	margin: auto;
	max-width: 75vw; /*900px;*/
	display: flex;
	flex-wrap: nowrap;

	justify-content: center;

	font-size: 16px;
	line-height: 140%;

	color: #aaa;
}

.footerFlexbox > div {
	width: 100%;
	padding: 30px;

	position: relative;
}

.footerFlexbox .pandaqiLogo {
	width:60px; 
	float:left; 
	padding: 10px;
}

.footerFlexbox > div > h2 {
	border-bottom: 4px solid var(--bordercolor);
	color: var(--textcolor);
}

.buttonLink {
	border-radius: 0.5em;
	font-family: 'Dosis';
	padding: 20px;
	width: 100%;
	box-sizing: border-box;

	border: 2px solid gray;
	border-color: var(--bordercolor);

	cursor: pointer;

	display: block;

	text-align: center;
	text-decoration: none;
	/*font-size: 24px;*/
	text-transform: uppercase;
	font-weight: 800;

	background: var(--bgcolor);
	color: var(--textcolor);

	transition: background 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s, filter 0.5s, opacity 0.5s;
}

.buttonLink:hover {
	filter: brightness(130%);

	box-shadow: 0px 0px 10px 0px var(--bgcolor);
}

header .buttonLink {
	display:inline;
}

.red {
	--bgcolor: #AA0000;
	--textcolor: #FF9999;
	--bordercolor: #550000;
}

.green {
	--bgcolor: #00AA00;
	--textcolor: #99FF99;
	--bordercolor: #005500;
}

.blue {
	--bgcolor: #0000AA;
	--textcolor: #9999FF;
	--bordercolor: #000055;
}

.transparent {
	--bgcolor: var(--mycolor);
}



/*
 * Each horizontal bar has this anchor link wrapping around it
 * (so you can click on the containers and immediately go to the game)
 */

a.horizontalBigLink {
	text-decoration: none;
	color: #000000;
}


/*
 * Every game gets its own horizontal bar
 *  => this is the horizontal container
 * Within it are even more containers (for different content, text centering, etc.)
 * It applies a wavy line at the bottom
 */

.horizontalContainer {
  /*background: linear-gradient(to bottom, sandybrown, chocolate);*/
  height: 30vw;
  position: relative;

  background-color: var(--mycolor);


	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

  display: flex;
  	align-items: center;

  	z-index: var(--zval);

  	color: var(--mytextcolor);
}

.rightText:not(.coverStyle) {
	background-repeat: repeat-x;
	background-position-x: -50vw;
}

a.horizontalBigLink > .horizontalContainer > .horizontalContent > .horizontalContentText > .buttonLink {
	padding: 1vw;
	opacity: 0;
}

a.horizontalBigLink:hover > .horizontalContainer > .horizontalContent > .horizontalContentText > .buttonLink {
	opacity: 1;
}

.nonGameContainer .buttonLink {
	opacity:1 !important;
}

.questShower {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 20px;

	display: block;
	background-color: #3D1406;
	color: #ccc;

	margin: 10px;
	cursor: pointer;

	transition: right 1s, bottom 1s, background-color 0.5s, color 0.5s;
	z-index: 1000;

	width: 60px;

	box-shadow: 0 0 10px 2px #333;
	border-radius: 0.5em;
}

.questShower:hover {
	background-color: white;
	color: #333;
}

.questContainer {
	position: fixed;
	right: -500px;
	bottom:0;
	margin: 10px;
	font-size: 12px;
	width: 250px;

	background-color: #3D1406;
	border: 10px solid #4E1D0D;

	box-shadow: 0px 0px 10px 5px #333;

	padding:20px;
	border-radius:1em;

	color: #ccc;

	opacity: 0;
	transition: opacity 2s, right 1s, bottom 1s;

	display: block;

	z-index: 1000;
}

.questContainer h2 {
	margin-top: 0px;
}

.questContainer .buttonLink {
	padding: 5px;
	width: auto;
	display: inline-block;
}

.questContainer .questMarker {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: 'Dosis';
	font-weight: 800;
	color: rgba(255,255,255,0.2);

}

.questContainer .questPoints {
	position: absolute;
	left: 70px;
	top: 50px;
	font-family: 'Dosis';
	font-weight: 800;
	font-size: 32px;
	color: green;
	transition: top 2s;
	opacity: 0;

	pointer-events: none;
}

.questContainer > p > a {
	color: orange;
}

.questProgress {
	display: inline-block;
	padding: 5px;
	background-color: white;
	color: black;
	border-radius: 0.5em;
	font-family: 'Dosis';
	font-weight: 800;
}

#highscoreContainer {
	font-size: 600%;
	font-family: 'Dosis';
	text-align: center;
	margin: 0px;
}

form table {
	width: 100%;
}

form input {
	padding-top: 20px;
	padding-bottom:20px;
	width: 100%;
	box-sizing: border-box;
}

.warningMessage {
	padding: 10px; 
	text-align: center; 
	background-color: #eeee33; 
	border-bottom: 5px solid orange;
}

.warningMessage a {
	color: purple;
}

.socialIconList {
	display: flex; 
	width: 100%;
}

.socialIconList div {
	text-align: center;
	padding:10px;
	filter: brightness(90%);
}

.socialIconList div:hover {
	filter: brightness(110%) drop-shadow(0 0 4px white);
}

.socialIconList img {
	width: 50px;
	height: 50px;
}

.paginationContainer .horizontalContentText {
	width: 100%;
}

.paginationContainer p {
	max-width: 600px;
	margin: auto;
	text-align: center;
}

.paginationContainer h1 {
	text-align: center;
}

.pagination {
	display: flex;
	width: 100%;

	align-items: center;
	justify-content: center;
	position: relative;
}

.pagination div {
	padding:20px;
	text-align: center;
}

.pagination div a {
	color: var(--textcolor);
}

#headerSlogan {
	font-style: italic;
	font-size: 12px;
	color:#ccc;
	display: block;
	position: absolute;
	left: -75px;
	text-align: center;
	top: 34px;
	width: 500px;
}

/*
.horizontalContainer:hover .horizontalContentText {
	background-color: rgba(255,255,255,0.8);
}
*/

/* TRYING TO GET A BLUR BEHIND TEXT */

.coverStyle .horizontalContentText::before {
	background: var(--blurcolor);
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(20px);

	pointer-events: none;
	border-radius:3em;
}

.staticWideImage .horizontalContentText::before {
	content: none;
}

.nonGameContainer::before {
	content: none !important;
}

.staticWideImage .horizontalContentText {
	color: var(--staticwidecolor);
}

.staticWideImage .horizontalContainerTransition {
	display:none;
}

.staticWideImage {
	background-color: var(--staticwidedominantcolor);
}

.horizontalContentText {
	position: relative;
}



.coverStyle {
	background-size: cover;
	/*text-shadow: 0px 0px 5px black;*/
}

.coverStyle p {
	/* text-shadow: 0px 0px 2px black;*/
}

.horizontalContainerTransition {
	position:absolute;
	top:0;
	left:0;
	right:0;

	background: linear-gradient(to bottom, var(--mycolor) 0%, transparent 100%);
	height: 60px !important;
}



.horizontalContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, var(--colorbelow) 13px);
}

.horizontalContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, var(--colorbelow) 12px, transparent 13px);
}

.horizontalContainer > div {
	width: 100%;
	height: 100%;
}


/*
 * This holds the (textual) content within each horizontalContainer
 */

/*
.horizontalContent {
	max-width: 600px;
	margin: auto;
	height: 100%;
}
*/

.horizontalContent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontalContentText {
	/*padding: 10px;
  	background-color: rgba(255, 255, 255 , 0.5);*/
  	width: 26vw;
  	font-size: 1.2vw;
}

.coverStyle .horizontalContentText {
	/*background: rgba(0,0,0,0.5);*/
	padding: 20px;
	border-radius: 2em;
}

.coverStyle h1 {
	margin-top:5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis";
	font-weight: 800;
	text-transform: uppercase;
	line-height: 100%;
}

h1 { 
	font-size: 4vw;
	text-decoration: 1pt wavy underline;
	text-decoration-skip-ink: none;
}

.nonGameContainer h1, .noProperLink h1 {
	margin-top:0px;
}

.headerLogo {
	height: 32px;
	padding: 10px;
	position: relative;
}

.headerLogo img {
	filter: drop-shadow(0 0 2px #111);
}

.headerButtons {
	position: relative;
}

.headerButtons .buttonLink {
	padding-bottom: 2px;
}



.gameObject {
	width: 30px;
	height: 30px;
	position: absolute;
	transform: rotate(var(--myrotation));
	
	mix-blend-mode: multiply;
	opacity: 0.5;

	cursor: pointer;
}

@keyframes collectGameObject {
  from {
    transform: rotate(--myrotation) scale(1);
  }
  to {
    transform: scale(2);
  }
}



@media all and (max-width: 600px) {
  .footerFlexbox {
  	flex-wrap: wrap;
  }

  	.horizontalContainer {
		height: 60vw;
	}

	.horizontalContentText {
		width: 26vw;
		font-size: 12px;
	}

	.horizontalContainer > .horizontalContent > .horizontalContentText > .buttonLink {
		display: none;
	}

	.nonGameContainer .buttonLink, .noProperLink .buttonLink {
		display: block !important;
	}

	.headerFlexbox {
		height: 32px;
	}

	.headerLogo {
		background-color: #3D1406;
		display: block;

		border-bottom: 10px solid #4E1D0D;
		width: 100%;
		z-index: 200;

		text-align: center;
	}

	.headerButtons {
		z-index: 199;
		width:100%;
		text-align:center;
		font-size: 12px;
	}

	.headerButtons #headerSlogan {
		display: none;
	}

	.nonGameContainer {
		width: 100%;
		padding:20px;
	}

	.questContainer {
		bottom: -500px;
		right: 0px;
		width: auto;
		left:0;
		font-size: 12px;
	}

	.questShower {
		width: auto;
		left: 0;
		font-size: 12px;
		text-align: center;
	}

	footer {
		padding-bottom: 200px; /* to make sure you can see everything on the page, instead of the quest hiding some stuff at the bottom */
	}

	.warningMessage {
		padding-top:50px;
		font-size: 50%;
		text-align: left;
	}

	h1 {
		text-decoration-thickness: 1px;
	}

	.horizontalContentText {
		width: 100%;
	}

	.leftText .horizontalContentText, .rightText .horizontalContentText {
		padding: 20px;
	}

	.buttonLink {
		padding: 10px;
	}

	.pagination {
		flex-wrap: wrap;
	}

	.pagination div {
		width: 100%;
		padding: 5px;
	}
}

@media all and (max-width: 900px) {
	.headerFlexbox, .footerFlexbox {
		max-width: 900px;
	}

	.coverStyle .textMargin {
		display:none;
	}

	.coverStyle .horizontalContentText {
		width:100% !important;
		max-width: 600px;
		padding:20px;
	}


	.mobileGameObject {
		right: unset;
		top: unset;
		bottom: unset;
		left: unset;
	}

}

@media all and (min-width:600px) and (max-width: 900px) {
  .footerFlexbox .pandaqiLogo {
  	float: none;
  	max-width: 100%;
  	display: block;
  	width: 100%;
  }

  	.horizontalContainer {
		height: 60vw;
	}

	.horizontalContentText {
		/*width: 26vw;*/
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		font-size: 16px;
	}

	.nonGameContainer {
		width: 52vw;
	}
}

@media all and (max-width:400px) {
	.horizontalContainer:not(.coverStyle) {
		height: 90vw !important;
	}

	.textMargin {
		display: none;
	}

	.horizontalContainer:not(.coverStyle) {
		background-image: none !important;
	}

}

.forcedHighContainer {
	height: 600px !important;
}

