$header-font: "grace";
$body-font: "roboto";
$base-fonts: "fonts/";

$bg-col: #8ab1ef;
$text-col: #111111;
$col1: #ff9898;
$col2: #58faf7;
$col3: #ca95ff;
$col4: #9edb95;

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Good-Grace.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'RobotoSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'RobotoSlab-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}