.boardgame-intro 
{
    .big-header-image {
        max-width:100%; 
        margin: auto; 
        filter:drop-shadow(0 0 0.4rem #121212);
        pointer-events:none;
    }

    .tagline, .metadata {
        font-weight: bold;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        color: #0D0106;
        text-align: center;
    } 

    .tagline {
        font-size: 1.25rem;
    }

    .metadata 
    {
        font-size: 0.85rem;
        opacity: 0.5;
    }

    .download-btn-container {
        text-align: center;
    }
}

body.invert 
{
    .boardgame-intro 
    {
        .tagline, .metadata {
            color: #FCFCFC;
        }
    }
}