@use "sass:map";
@use "sass:list";
@use "./globals" as g;


@mixin colorscheme($info: ()) {
	background-color: map.get($info, "bg");
	color: map.get($info, "col");

	h1 {
		color: map.get($info, "col");
	}

	a {
		color: map.get($info, "col");
	}

    a.masked-link, button.masked-link {
        color:  map.get($info, "bg");
        background-color:  map.get($info, "col");
    }


}

@mixin inverted-colorscheme($info: ()) {
	background-color: map.get($info, "col");
	color: map.get($info, "bg");

	h1 {
		color: map.get($info, "bg");
	}

	a {
		color: map.get($info, "bg");
	}

    a.masked-link, button.masked-link {
        color:  map.get($info, "col");
        background-color:  map.get($info, "bg");
    }
}

@mixin banner-colorscheme($info: ()) 
{
	background-color: map.get($info, "col");
	color: #EDEDED;

	a {
		color: #EDEDED;
	}

	div.btn {
        color: map.get($info, "col") !important;
        background-color:  map.get($info, "bg") !important;
		border-color: map.get($info, "col") !important;
    }
}

// @NOTE: the CUSTOM entry banners still use the regular color scheme, because they have no background blurry thing
.metadata-container, header, .metadata-divider {
	@each $name, $color in g.$colorschemes {
		&.#{$name} {
			@include colorscheme($color);
		}
	}
}

footer, .footer-divider {
    @each $name, $color in g.$colorschemes {
		&.#{$name} {
			@include inverted-colorscheme($color);
		}
	}
}