@use "./globals" as g;

.btn {
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1.5rem;
    margin: 0.66rem;
    border-radius: 0.5rem;
    line-height: 1.2em;
    box-sizing: border-box;
    display: inline-block;
    font-family: g.$header-font-stack;

    background-color: g.$default-color-light;
    color: g.$default-color-dark;

    transition: background-color 0.3s, color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: g.$default-color-dark;
        color: g.$default-color-light;
    }

    filter: drop-shadow(0 0 0.25rem #333);
}

.download-btn {
    margin: auto;
    font-size: 2.5rem;
}