@use "./globals.scss" as g;
@use "./colorschemes" as c;

.footer-divider {
	@include c.inverted-colorscheme();
}

footer {
	@include c.inverted-colorscheme();

	padding-top: 1.75em;
	margin-top: -2vw;

	@media all and (max-width: g.$cutoff1) {
		&.clipped {
			mask-image: none !important;
			-webkit-mask-image: none !important;
		}
	}

	.general-flex {
		display: flex;
		flex-wrap: nowrap;
		
		margin: auto;
		margin-top: -1.75em;

		max-width: 1080px;
		justify-content: center;
		font-size: 0.75em;
		line-height: 140%;

		aside {
			width: 100%;
			padding: 1.0em;
		}

		.pandaqi-logo {
			max-width: 75px;
			float: left;
		}

		.social-icon-list {
			margin: 0;
			padding: 0;

			display: flex;
			justify-content: center;
			gap: 1.0em;

			li {
				list-style-type: none;
			}
		}

		@media all and (max-width: 920px) {
			flex-wrap: wrap;
		}
	}
}