footer {
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: -20px;
	
	.narrow-flex {
		display: flex;
		justify-content: center;

		ul {
			margin: 0px;
			padding: 0px;

			li {
				list-style-type: none;
				display: inline;

				button
				{
					font-family: inherit;
				}

				a { 
					display: inline-block;
				}

				.masked-link {
					padding: 20px;
				}
			}
		}
	}
}