$body-font-stack: 'Raleway', Calibri, Arial, sans-serif;
$header-font-stack: 'Dosis', Georgia, serif;

$centered-section-width: 720px;

$cutoff0: 1340px;
$cutoff1: 960px;
$cutoff2: 660px;
$cutoff3: 380px;

$num-masks: 8;