$body-font-raw: "Raleway";
$body-font-stack: $body-font-raw, Calibri, Arial, sans-serif;

$header-font-raw: "Dosis";
$header-font-stack: $header-font-raw, Georgia, serif;

$base-fonts: "/assets/fonts/";

$centered-section-width: 720px;

$cutoff0: 1340px;
$cutoff1: 960px;
$cutoff2: 660px;
$cutoff3: 380px;

$num-masks: 8;