@use "globals.scss" as g;

header {

	font-family: "Dosis";
	position: relative;

	nav {
		margin-top: -1rem; /* necessary for some reason, probably because entry banners take margin of 15px at top  */

		padding: max(3vw, 1.5rem);
		padding-top: 1.5rem;

		ul {
			display: flex;
			align-content: center;
			align-items: center;
			flex-wrap: nowrap;
			gap: 0.5rem;
			margin: 0;
			padding: 0;

			button {
				font-family: "Dosis" !important;
			}

			.icon {
				display: none;
			}

			.slogan {
				font-size: 0.66em;
				font-style: italic;
				opacity: 0.75;
				line-height: 1.2em;
				white-space: break-spaces !important;
			}

			.outspacer {
				width: 100%; 
				display: inline-block;
				text-align: center;

				font-size: 1.5em;
			}

			li {
				list-style-type: none;
				display: inline;
				white-space: nowrap;
			}
		}

				
		@media all and (max-width: g.$cutoff2) {
			padding-left: 0.5rem;
			padding-right: 0.5rem;

			ul {
				.outspacer {
					font-size: 1.25rem;
					white-space: break-spaces;
				}

				.slogan {
					display: none;
				}

				.text {
					display: none;
				}

				.icon {
					display: inline-block;
				}

				a.masked-link, button.masked-link {
					all: unset !important;
				}
			}
		}
	}
}