.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;

    font-size: 1.5rem;

    font-weight: 100;
    font-style: italic;

    .review {
        position: relative;
        z-index: -1;
		padding: 1rem;
		background-color: rgba(0,0,0,0.2);
		border-radius: 0.5em;

		color: rgba(0,0,0,0.75);
    }

    .rating {
        color: #ea4620;
        font-style: normal;
        font-size: 2.0rem;
    }
}
