@use "sass:map";
@use "sass:math";
@use "./shared.scss" as g;

$icons: (
    "smallseat": (
        "karateChicks": 0,
        "pricklypettes": 1,
        "sleepersippies": 2,
        "chewyCarrots": 3,
        "treeOfHainut": 4,
        "curlysnouts": 5,
        "tinybears": 6,
        "purplepaws": 7,
        "ottermother": 8,
        "sealalater": 9,
        "snufflesniff": 10,
        "ponytailors": 11
    ),

    "queenseat": (
        "stingersHive": 0,
        "gallopingSun": 1,
        "trunktrumpets": 2,
        "featherdancer": 3,
        "whistleyWine": 4,
        "edibusEggsnatcher": 5,
        "fearedFlame": 6,
        "eyrieFeyle": 7,
        "chatteredFins": 8,
        "galaksea": 9,
        "venomfruit": 10,
        "colorcoats": 11
    ),

    "kingseat": (
        "lionsyre": 0,
        "slydefox": 1,
        "woolfhall": 2,
        "hornseeker": 3,
        "brownbeards": 4,
        "monarchrys": 5,
        "crassclamps": 6,
        "gulliballistas": 7,
        "hardshellHero": 8,
        "squlofish": 9,
        "smugwing": 10,
        "salsaSalamanda": 11,
    ),

    "kaizerseat": (
        "solongnecks": 0,
        "boardomThieves": 1,
        "longswordFins": 2,
        "atheneyes": 3,
        "gallopeers": 4,
        "candlesticks": 5,
        "taredtula": 6,
        "sonarAndSons": 7,
        "sirensOfSeatongue": 8,
        "cracktapus": 9,
        "ravenletters": 10,
        "twistertoots": 11
    )
);

$max-frames: 6;

@each $gameName, $data in $icons
{
    @each $packName, $frame in $data
    {
        $col: $frame % $max-frames;
        $row: 0;
    
        @if $frame >= $max-frames 
        {
            $row: 1;
        }
    
        .rules-icon-pack-#{$gameName}-#{$packName} 
        {
            background-image: g.$crests-url;
            background-size: 600%;
            background-position-x: -$col * 100%;
            background-position-y: -$row * 100%;
            margin: auto;
        }
    }
}



h1, h2, h3, h4, h5, h6 {
    font-family: g.$header-font;
}

body {
    font-family: g.$body-font;
    color: #000000;
    background-color: #212121; // #5F5449;
}

.remark {
    line-height: 120%;
}

$purple-light: #e1c1ff;
$red-light: #ffb4a0;

#setup {
    background-color: $purple-light;
}

#objective {
    background-color: $red-light;
}

#action_play {
    background-color: $purple-light;
}

#packs {
    background-color: $red-light;
    
}

.prince-backstory 
{
    font-style: italic;

    h3 
    {
        font-style: normal;
    }
}

.prince-metadata 
{
    ul 
    {
        margin: auto;
    }

    margin-bottom: 3em;
}

.prince-clarifications 
{
    
}