$header-font-raw: "unifraktur";
$body-font-raw: "brigada";
$header-font: $header-font-raw, Georgia, serif;
$body-font: $body-font-raw, Georgia, serif;
$crests-url: url(crests_full.webp);

$base-assets: "/throneless-games/assets/"; 
$base-fonts: $base-assets + "fonts/";

$bg-color: #060606;
$text-color: #FCFCFC;

$game-color: #f9a48c; // #FF4816;
$game-text-color: #4d180a;
$link-color: #f9a48c;
$link-color-hover: #ffd3c7;
$download-link-bg: #AB50FF;
$download-link-color:#2f0951;
$start-game-bg: #4d180a;
$start-game-color: #f9a48c;
$heading-color: #AB50FF;

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'UnifrakturCook-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Brygada1918-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Brygada1918-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Brygada1918-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    font-size: calc(13px + 0.390625vw);
}

//
// Page
//

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
}

.metadata-container 
{
    h1,h2,h3,h4,h5,h6 {
        color: $text-color;
    }
}

.game-settings {
    background-color: $game-color;
    color: $game-text-color;

    h3 { color: $game-text-color; }
}

.heading-with-icon {
    .part-heading {
        margin-top: -0.33em;
    }
}

#btn-start-game, #btn-start-game:visited {
    background-color: $start-game-bg;
    color: $start-game-color;
    margin-top: 0.5em;

    &:hover {
        background-color: $start-game-color;
        color: $start-game-bg;
    }
}

a.download-btn, a.download-btn:visited {
    color: $download-link-color;
    background-color: $download-link-bg;

    &:hover {
        color: $download-link-bg;
        background-color: $download-link-color;
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    &.no-shadow .big-header-image {
        filter: none;    
    }
}

//
// Rules
//
$icons: (
    "smallseat": (
        "karateChicks": 0,
        "pricklypettes": 1,
        "sleepersippies": 2,
        "chewyCarrots": 3,
        "treeOfHainut": 4,
        "curlysnouts": 5,
        "tinybears": 6,
        "purplepaws": 7,
        "ottermother": 8,
        "sealalater": 9,
        "snufflesniff": 10,
        "ponytailors": 11
    ),

    "queenseat": (
        "stingersHive": 0,
        "gallopingSun": 1,
        "trunktrumpets": 2,
        "featherdancer": 3,
        "whistleyWine": 4,
        "edibusEggsnatcher": 5,
        "fearedFlame": 6,
        "eyrieFeyle": 7,
        "chatteredFins": 8,
        "galaksea": 9,
        "venomfruit": 10,
        "colorcoats": 11
    ),

    "kingseat": (
        "lionsyre": 0,
        "slydefox": 1,
        "woolfhall": 2,
        "hornseeker": 3,
        "brownbeards": 4,
        "monarchrys": 5,
        "crassclamps": 6,
        "gulliballistas": 7,
        "hardshellHero": 8,
        "squlofish": 9,
        "smugwing": 10,
        "salsaSalamanda": 11,
    ),

    "kaizerseat": (
        "solongnecks": 0,
        "boardomThieves": 1,
        "longswordFins": 2,
        "atheneyes": 3,
        "gallopeers": 4,
        "candlesticks": 5,
        "taredtula": 6,
        "sonarAndSons": 7,
        "sirensOfSeatongue": 8,
        "cracktapus": 9,
        "ravenletters": 10,
        "twistertoots": 11
    )
);

$max-frames: 6;

@each $gameName, $data in $icons
{
    @each $packName, $frame in $data
    {
        $col: $frame % $max-frames;
        $row: 0;
    
        @if $frame >= $max-frames 
        {
            $row: 1;
        }
    
        .rules-icon-pack-#{$gameName}-#{$packName} 
        {
            background-image: $crests-url;
            background-size: 600%;
            background-position-x: -$col * 100%;
            background-position-y: -$row * 100%;
            margin: auto;
        }
    }
}

$purple-light: #e1c1ff;
$red-light: #ffb4a0;

.rulebook {
    color: #111111;
}

#setup {
    background-color: $purple-light;
}

#objective {
    background-color: $red-light;
}

#action_play {
    background-color: $purple-light;
}

#packs {
    background-color: $red-light;
    
}

.prince-backstory 
{
    font-style: italic;

    h3 
    {
        font-style: normal;
    }
}

.prince-metadata 
{
    ul 
    {
        margin: auto;
    }

    margin-bottom: 3em;
}