@use "sass:color";

$header-font: "gargle";
$body-font: "gargle";
$base: "/easter-eggventures/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #FDDB57;
$text-color: #010101;
$button-bg: #ff2e60;
$button-color: #ffd6e9;
$link-color: #00571b;
$link-color-hover: #4d4dff;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'GargleRg-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'GargleRg-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'GargleRg-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: bold;  
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    font-weight: bold;

    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}