
$header-font: "woodcutter";
$body-font: "ptserif";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + "woodcutter.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'PTSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'PTSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'PTSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'PTSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: #97acff;
    color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

.board-image {
    margin: auto;
    max-width: 720px;
}

.bigQuestion {
    text-align:center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-top: 3.0rem;
    margin-bottom: 0;
}

.bigQuestionButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.bigQuestionButtons div {
    display: block;
    text-align:center;
}

a.btn, a.btn:visited {
    font-family: $header-font;
    background-color: #536ACC;
    color: black;
    border-radius: 0.5rem;
}

a.btn:hover {
    background-color: rgb(0, 0, 100);
    color: rgb(175, 175, 255);
}

a.download-btn, a.download-btn:visited, a.event-btn, a.event-btn:visited {
    background-color: #540003;
    color: #FF8687;
}

a.download-btn:hover, a.event-btn:hover {
    background-color: #FF8687;
    color: #540003;
}

.boardgame-intro {
    .big-header-image {
        margin-bottom:-7.5vw;
    }
}

.game-settings, #btn-start-game {
    background-color: rgba(0,0,0,0.66);
    font-family: $header-font;
}

@media all and (max-width: 600px) {
    .bigQuestionButtons div {
        min-width: 100%;
    }
}

body {
    font-family: $body-font;
    background-color: #d5deff;
    color: #111111;
    font-size: 24px;
}            

select {
    width: 50px;
    height: 50px;
    font-family: $header-font;
    background-color: #123254;
    border: none;
    color: white;
    border-radius: 7px;
}

.event {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

    position: relative;
}

.event .takeAction {
    display: block;
    margin: 20px;
    border-left: 10px solid white;
    margin-left: 0px;
    padding-left: 10px;
    font-weight: bold;
}

.event .roundNumber {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
}

#curEventDisplay 
{
    max-width: 600px;
    margin: auto;
    margin-bottom: 1.5em;
}

a.btn, a.btn:visited, a.download-btn, a.download-btn:visited, a.event-btn, a.event-btn:visited {
    font-family: $header-font;
    background-color: #94a6f4;
    color: black;
    border-radius: 10px;
    padding: 1em;
    cursor: Vector2er;
}

a.btn:hover,a.download-btn:hover, a.event-btn:hover {
    background-color: rgb(0, 0, 100);
    color: rgb(175, 175, 255);
}