@use "../css_shared/main.scss" as g;

body {
    background-color: #3c005d;
    color: #efe3d6;
    font-family: g.$header-font;
}

.progress-bar-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.progress-bar {
    max-width: 500px;
}

.progress-bar-header, .progress-bar-info {
    text-align: center;
}

.progress-bar-info {
    opacity: 0.66;
}