<nav>
    <ul class="no-default-list-styles gap-m flex flex-align-center flex-wrap-until-cutoff-s">
        <!--- Local Board Game Stuff --->
        {{ $drive_url := .Params.driveLink }}
        {{ if $drive_url }}
            <li class="width-maximize">
                {{ partial "buttons/button.html" (dict "content" "Download" "href" $drive_url "class" "button-large accent-green") }}
                <div class="font-size-s text-italic text-color-mid-light text-center">Google Drive<br>(Files = Material; Rules = Rulebook)</div>
            </li>
        {{ end }}

        {{ $source_url := .Params.sneakpeek }}
        {{ if $source_url }}
            <li class="width-maximize">
                {{ partial "buttons/button.html" (dict "content" "Buy Source Files" "href" $source_url "class" "button-large accent-green") }}
                <div class="font-size-s text-italic text-color-mid-light text-center">The Wayward Melody<br>(Editable files, raw assets, etc)</div>
            </li>
        {{ end }}
        
        {{ $game_page := .GetPage "./game/" }}
        {{ if and $game_page .Site.Params.enableGameJS }}
            <li class="width-maximize">
                {{ partial "buttons/button.html" (dict "content" "Game Generator" "href" "game" "class" "button-large accent-purple") }}
                <div class="font-size-s text-italic text-color-mid-light text-center">Generate your own custom PDF</div>
            </li>
        {{ end }}
        
        {{ $board_page := .GetPage "./board/" }}
        {{ if and $board_page .Site.Params.enableBoardJS }}
            <li class="width-maximize">
                {{ partial "buttons/button.html" (dict "content" "Board Generator" "href" "board" "class" "button-large accent-blue") }}
                <div class="font-size-s text-italic text-color-mid-light text-center">Generate your own custom PDF</div>
            </li>
        {{ end }}
        
        {{ $rules_page := .GetPage "./rules/" }}
        {{ if and $rules_page .Site.Params.enableRulesJS }}
            <li class="width-maximize">
                {{ partial "buttons/button.html" (dict "content" "Rulebook" "href" "rules" "class" "button-large accent-orange") }}
                <div class="font-size-s text-italic text-color-mid-light text-center">The interactive rulebook</div>
            </li>
        {{ end }}

        <!--- External (Video Game) Stuff --->
        {{ $links := .Params.externalLinks }}
        {{ $accent_colors := slice "accent-orange" "accent-green" "accent-purple" "accent-blue" }}
        {{ $accent_colors_num := sub (len $accent_colors) 1}}
        {{ with $links }}
            {{ range . }}
                {{ $price := or .price 0 }}
                {{ $label := or .label "Buy" }}
                {{ $label = printf "%s ($%s)" $label (string $price) }}
                {{ if eq $price 0 }}{{ $label = or .label "Download" }}{{ end }}
                {{ $url := or .url "#" }}
                {{ $platforms := or .platforms slice }}
                {{ $rand_accent_color := index $accent_colors (shuffle (seq 0 $accent_colors_num) | first 1) }}
                {{ $class := printf "button-large %s" $rand_accent_color }}
                <li class="width-maximize">
                    {{ partial "buttons/button.html" (dict "content" $label "href" $url "class" $class) }}
                    {{ with $platforms }}
                        <div class="font-size-s text-italic text-color-mid-light text-center">
                            {{ range . }}
                                <span class="icon icon-s {{ . -}}"></span>
                            {{ end }}
                        </div>
                    {{ end }}
                    {{ with .store }}
                        <div class="font-size-s text-italic text-color-mid-light text-center">Store: {{ . }}</div>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>


