$header-font: "palette";
$body-font: "pettingill";
$base-fonts: "fonts/";

@font-face {
    font-family: 'palette';
    src: url($base-fonts + 'PaletteMosaic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pettingill';
    src: url($base-fonts + 'PettingillCF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}