@use "sass:color";
@use "../../page.scss" as g;
@use "./shared.scss" as g2;

$light-blue: color.adjust(g2.$col1, $lightness: 10%);
$light-pink: color.adjust(g2.$col2, $lightness: 30%);

#setup {
    background-color: $light-blue;
}

#objective {
    background-color: $light-pink;
}

#action_play {
    background-color: $light-blue;
}

#expansions {
    background-color: $light-pink;
}
