@use "sass:color";
@use "../../shared.scss" as g;

$header-font: "trebek";
$base: "/maybe-games/vote/maybe-missions/assets/";
$base-fonts: $base + "fonts/";

$col1: #eee58b;
$col2: #7f51e2;

body {
    background-color: $col1;
}

.game-settings, a.btn.download-btn, button#btn-start-game {
    background-color: $col2;
    filter: drop-shadow(0 0 5px #333333);
    color: #EEFFFF;
    font-weight: normal;
}

label, input {
    font-weight: normal;
}

a {
    color: #86803a;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'StarTrebek.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
}

//
// Rules
//
$light-blue: color.adjust($col1, $lightness: 10%);
$light-pink: color.adjust($col2, $lightness: 30%);

#setup {
    background-color: $light-blue;
}

#objective {
    background-color: $light-pink;
}

#action_play {
    background-color: $light-blue;
}

#expansions {
    background-color: $light-pink;
}
