@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-it.woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-reg.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxima Nova Rg', cursive;
}

body {
    font-family: 'Proxima Nova Rg', cursive;
    background-color: #D2E6AB;
    color: black;
}