@use "./shared.scss" as g;

$hint-icons-url: url(/pirate-riddlebeard/assets/hint_icons.png);

body {
    margin: 0;
    padding: 0;
    font-family: g.$header-font;
    font-size: 20px;
    background-color: #eeeeab;
}

#phaser-container {
    margin: 0;
    padding: 0;
    display: none;
}

#interfaceContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    filter: drop-shadow(0px 0px 5px black);
}

.interfaceContainer-lowvis {
    filter: none !important;
}

#interface {
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 14px;
    border-radius: 10px;
    border: 5px solid black;
}

.interface-lowvis {
    width: 100px !important;
    background: transparent !important;
    border: none !important;
    opacity: 0.4;
}

button, select {
    width: 100%;
    font-family: g.$header-font;
    font-size: 24px;
    background: #ff7600;
    border-radius: 5px;
    border: none;
    transition: background 0.3s, color 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover, select:hover {
    background: #FF2222;
    cursor: pointer;
    color: white;
}

.mapImageContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mapImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.icon {
    background: $hint-icons-url;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 1500%;
    margin-bottom: -5px;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    grid-gap: 20px;
    flex-gap: 20px;
}