$header-font-raw: '"Chelsea Market"';
$header-font: $header-font-raw, sans-serif;
$body-font-raw: '"Charis SIL"';
$body-font: $body-font-raw, serif;
$base-fonts: "/pirate-riddlebeard/assets/fonts/";

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'ChelseaMarket-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'CharisSIL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'CharisSIL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'CharisSIL-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}