$header-font-raw: "unifraktur";
$body-font-raw: "brigada";
$header-font: $header-font-raw, Georgia, serif;
$body-font: $body-font-raw, Georgia, serif;
$crests-url: url(crests_full.webp);
$base-fonts: "fonts/";

$bg-color: #060606;
$text-color: #FCFCFC;

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'UnifrakturCook-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Brygada1918-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Brygada1918-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    font-size: calc(15px + 0.390625vw);
    line-height: 140%;
    box-sizing: border-box;
}
