@use "./shared.scss" as g;

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: g.$header-font, serif;
    font-size: 20px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h1 {
    font-family: g.$header-font;
    color: #30040c;
}