$header-font: "ribeye";
$body-font: "lora";
$base-assets: "/thats-amorphe/assets/";
$base-fonts: $base-assets + "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Ribeye-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Lora-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Lora-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Lora-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$btn-bg-color: #8D1919;
$btn-text-color: #FFEEEE;
$btn-hover-bg-color: #aacae7;
$btn-hover-text-color: #0a3a3e;

body {
    font-family: $body-font, serif;
    background-color: #FEB3B3;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game {
    font-family: $header-font, sans-serif;
}

input, button, select, option, label {
    font-family: $body-font, serif;
}

a {
    color: $btn-bg-color; 
    &:hover {
        color: $btn-hover-text-color;
    }
}

.boardgame-intro {
    .big-header-image {
        filter: none;
    }
}

.game-settings {
    background-color: $btn-bg-color;
    color: $btn-text-color;
}

a.download-btn, a.download-btn:visited, #btn-start-game, #btn-start-game:visited {
    background-color: $btn-bg-color;
    color: $btn-text-color;
}

a.download-btn:hover, #btn-start-game:hover {
    background-color: $btn-hover-bg-color;
    color: $btn-hover-text-color;
    box-shadow: 0 0 10px #333;
}
