@font-face {
    font-family: 'Woodcutter';
    src: url(/epic-medics/css/woodcutter.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}      

$heading-font: "Woodcutter";
$body-font: 'PT Serif', serif;
