<section>
    <div class="title-container"><h2>Support</h2></div>
    <p>You can <strong>hire me</strong>! Maybe you need a special board game or video game for a birthday or educational purpose? I'm also open to inquiries about physically publishing my games. I am a registered freelance artist from the Netherlands and you can contact me professionally through my <a href="https://rodepanda.com">portfolio</a>.</p>
    <p>If unsure, visit my <a href="https://thewaywardmelody.com">Online Store</a>. It contains <em>everything</em> I ever made. Though it focuses on playful education and activities for children/family, first and foremost.</p>
    <p>Another great way to support me is to simply <strong>let me know what you think</strong>! Mail me at <a href="mailto:harmonize@pandaqi.com">harmonize@pandaqi.com</a> with any feedback.</p>
    <p>Alternatives would be to buy my paid work (a win-win situation!) or to donate through the most popular channels (see buttons below).</p>

    <div class="flex flex-wrap flex-align-center">
        <a href="https://patreon.com/tiamopastoor" class="button padding-m patreon">
            <div class="flex flex-align-center">
                <img src="/svg/patreon.svg" style="width: 32px;" /><span>Support me on Patreon</span>
            </div>
        </a>
        <a href="https://www.buymeacoffee.com/tiamopastoor" class="button padding-m buy-me-a-coffee">
            <div class="flex flex-align-center">
                <img src="/svg/buy_me_a_coffee.svg" style="width: 32px;" /><span>Buy me a Coffee</span>
            </div>
        </a>
        <a href="https://ko-fi.com/tiamopastoor" class="button padding-m ko-fi">
            <div class="flex flex-align-center">
                <img src="/svg/ko_fi.svg" style="width: 32px;" /><span>Support me on Ko-Fi</span>
            </div>
        </a>
        <div class="button paypal flex flex-align-center padding-m">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BVNZNXC7TP3VG">
                <input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" border="0">
            </form>
        </div>
    </div>
</section>