$header-font: "Skranji";
$body-font: "Skranji";
$base-fonts: "fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Skranji.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Skranji-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: $body-font, serif;
    background-color: #e4fba3;
    color: #101010;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font, cursive;
}

.image-as-heading {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: -rem;
    text-align: center;

    img {
        width: 100%;
        max-width: 900px;
        margin: auto;
    }
}

.buy-link-container .buy-link {
    font-family: $header-font;
    background-color: #385c17;
    color: #e1ffc5;

    &:hover {
        background-color: #d3ffaa;
        color: #385c17;
        filter: drop-shadow(0 0 5px #000000);
        transform: scale(1.1);
    }
}

a {
    color: #385c17;
    &:hover {
        color: #4b7523;
    }
}