$header-font: "Recursive";
$body-font: "Recursive";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Recursive-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Recursive-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Recursive-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font, sans-serif;
    color: black;
    background-color: beige;

    background-image: url(wieisdetrol_bwebp);
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font, sans-serif;
    font-weight: 900;
}

.special-screenshot-gallery picture:first-child {
    grid-column: 1 / -1;
}

.boardgame-intro {
    .tagline {
        color: black;
    } 
}

a {
    color: #248232;
    &:hover {
        color: #D25757;
    }
}

a.btn, a.btn:visited {
    font-family: $header-font, sans-serif;
    background-color: #248232;
    color: #FCFFFC;

    &:hover {
        background-color: rgb(0, 0, 100);
        color: rgb(175, 175, 255);
    }
}

a.download-btn, a.download-btn:visited {
    background-color: #D25757;
    color: rgba(255,255,255,0.8);

    &:hover {
        background-color: #040F0F;
        color: #F4C095;
    }
}

.game-settings {
    background-color: #B2D265;
    color: black;

    .setting-remark {
        color: rgba(0,50,0,0.85);
        font-weight: 300;
    }
}

#btn-start-game {
    font-family: $header-font, sans-serif;
    &:hover {
        background-color: #D25757;
    }
}

h1, h2, h3 {
    font-weight: 900;
    line-height: 120%;
}

body {
    background-color: #111111;
    color: #EEEEEE;
    font-family: $body-font, sans-serif;
    font-size: 16pt;
    line-height: 120%;
}

div, p {
    line-height: 120%;
}

input, button, select {
    font-family: $header-font, sans-serif;
    font-weight: 900;
    font-size: 16pt;
}

option {
    font-weight: 300;
}

button {
    background-color: #0b4d0b;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 5px;
    cursor: Vector2er;

    transition: 0.3s background-color, 0.3s color;
}

button:hover {
    background-color: lime;
    color: black;
    font-size: 22pt;
}

main {
    max-width: 650px;
    margin: auto;
}

#options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

#options > div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
}

#options > div > * {
    padding: 20px;
    box-sizing: border-box;
}

#options > div > button {
    font-size: 20pt;
}

#story {
    font-style: italic;
    color: #AAAAAA;
    font-size: 12pt;
    font-weight: 300;
}

#category {
    color: red;
}

#money {
    color: lime;
}

#continueButton {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-size: 20pt;
}

#input {
    max-width: 400px;
    margin: auto;
}

#input > * {
    width: 100%;
    font-size: 20pt;
    box-sizing: border-box;
}

#inputSettings {
    margin: auto;
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #143109;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}

#inputSettings > div {
    text-align: left;
    grid-gap: 15px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 16pt;
    box-sizing: border-box;
    align-items: center;
}

.input-number {
    font-size: 20pt;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.input-checkbox {
    width: 100%;
    height: 100%;
}

.numPlayersIndicator {
    font-weight: bold;
    color: yellow;
}

.hintButton {
    margin-left: 20px;
    padding: 2px;
    font-size: inherit;
    opacity: 0.5;
}

.hintButton:hover {
    font-size: inherit;
}

.eliminatedPlayer, .winningPlayer {
    font-weight: 900;
    border-bottom: 2px solid;
}

#addertjeContainer, #rolvoordeelContainer {
    display: block; 
    margin-top: 10px;
    font-size: 12pt;
    line-height: 120%;
}

#addertje {
    color: yellow;
}

#rolvoordeel {
    color: pink;
}

#timer > div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#timer > div > * {
    padding: 10px;
}

#timerValue {
    font-size: 22pt; 
    font-weight: 900;
}

#ruleReminder {
    display: none;
    font-size: 12pt;
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.2);
    margin-top: -25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* card types */
.cardType-base {
    font-weight: 900;
    border-bottom: 3px solid;
    display: inline-block;
}

.cardType-running {
    color: #ff5656; /* light red */
}

.cardType-puzzling {
    color: #6c6cf5; /* light blue */
}

.cardType-information {
    color: #65ea65; /* light green */
}

.cardType-effort {
    color: #F7CF85; /* light orangy/browny */
}

.cardType-relaxation {
    color: #d732d7; /* light purple */
}

.cardType-cooperation {
    color: #3B92F3; /* light light blue */
}

.cardType-distrust {
    color: #ABF33B; /* muddy yellow-green */
}

.cardType-leader {
    color: #F3693B; /* orange-red => @IMPROV: might swap for a more pink color */
}