h1, h2, h3, h4, h5, h6, a.btn, #btn-generate-board {
    font-family: 'Langar', cursive;
}

body, input, button, select, option {
    font-family: 'Londrina Solid', cursive;
    font-weight: 300; /* Londrina is quite a thick font, so opt for lighter variants in most cases */
}

.boardgame-intro {
    .tagline {
        font-weight: 300;
    }
}