@use "../../shared.scss";

$bg-color: #97EDFF;
$text-color: "#020000";

$col1: #b5043e;
$col1-light: #ffc7d9;
$col2: #005730;
$col2-hover: #4d4dff;
$col2-light: #e1d3ff;
$col3-light: #c5f5ff;

body
{
    background-color: $bg-color;
    color: $text-color;
}

$button-bg: $col1;
$button-color: #ffd6e9;
$link-color: $col2;
$link-color-hover: $col2-hover;
$settings-color: $col1;

a {
    color: $link-color; 

    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

.game-settings
{
    background-color: $settings-color;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
#setup {
    background-color: $col3-light;
}

#objective {
    background-color: $col2-light;
}

#action_play {
    background-color: $col3-light;
}

#expansions {
    background-color: $col2-light;
}

ul 
{
    margin-top: 0;
}