$body-font-raw: "fraunces";
$header-font-raw: "superfuntime";
$base-assets: "/slippery-slopes/assets/";
$base-fonts: $base-assets + "fonts/";

$col-blue: #67ddd9;
$col-green: #87d66d;
$col-red: #f88d81;
$col-purple: #d997fa;

$bg-color: #FDFDFD;
$text-color: #171717;
$game-color: transparent;
$game-text-color: currentcolor;
$link-color: #256011;
$link-color-hover: #61B446;
$download-link-bg: #F35441;
$download-link-color: #ffe2de;
$heading-color: #F35441;
$game-btn-bg: #B741F3;
$game-btn-color: #f4dfff;

// This is the Fraunces "super-soft" variation, as it fit best with the general theme and other font
@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'SuperFuntime.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$header-font: $header-font-raw, cursive;
$body-font: $body-font-raw, Georgia, sans-serif;
$bg-image: url(/slippery-slopes/assets/bg_pattern.webp);

body {
    font-family: $body-font;
    background-color: #FFFFFF;
    background-image: $bg-image;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label
{
    font-family: $header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    text-align: center;
    margin-top: 0.5rem;
}

.metadata-container {
    h1,h2,h3,h4,h5,h6 {
        color: #250425;
    }
}

section .center {
    background-color: rgba(255,255,255,0.8);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.game-settings {
    background-color: $game-color;
    color: $game-text-color;
    padding: 0;
    filter: none;

    h3 { color: $game-text-color; }
    .setting-remark { color: rgba(0,0,0,0.5); }
}

#btn-start-game, #btn-start-game:visited {
    background-color: $game-btn-bg;
    color: $game-btn-color;
    margin-top: 0.5em;

    &:hover {
        background-color: $game-btn-color;
        color: $game-btn-bg;
    }
}

a.download-btn, a.download-btn:visited {
    color: $download-link-color;
    background-color: $download-link-bg;

    &:hover {
        color: $download-link-bg;
        background-color: $download-link-color;
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    .big-header-image img {
        border-bottom: 0.25rem solid #500e06;
    }
}

//
// Rules
//
$icons: (
    "add": 0,
    "replace": 1,
    "ignore": 2,
    "double": 3,
    "hint": 4,
    "category": 5,
    "order": 6,
    "property": 7,
);
$max-frames: 8;

@each $name, $frame in $icons {
    $col: $frame % $max-frames;
    $row: 0;

    .icon-#{$name} {
        background-image: url(/slippery-slopes/assets/actions.webp);
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

#setup {
    background-color: $col-blue;
}

#objective {
    background-color: $col-green;
}

#action_play {
    background-color: $col-red; 
}

#expansions {
    background-color: $col-purple;
}