

$header-font: "freckleface";
$body-font: "shantell";
$base-fonts: "/puzzle-species/assets/fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ShantellSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ShantellSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ShantellSans-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ShantellSans-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'FreckleFace-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
    text-decoration: none;
}

input, button, select, option, label 
{
    font-family: $body-font;
}