@use "sass:map";
@use "sass:math";
@use "../../shared.scss" as g;


$icons: (
    "spy": 0,
    "double": 1,
    "antsassin": 2,
    "secret": 3,
    "rotate": 4,
    "swap": 5,
    "hint": 6,
    "retry": 7,
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }

    .icon-#{$name} {
        background-image: g.$photomone-antsassins-almost-actions-url;
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: g.$header-font;
}

body {
    font-family: g.$body-font;
    background-color: #CB9CF2; // #5F5449;
    font-size: 17px;
}

#setup, #action_play, #expansions {
    background-color: #FFD23F;
}

#objective, #rules_of_drawing {
    //color: #FFEEEE;
}

$colors: (
    "setup": #FFD23F,
    "objective": #CB9CF2,
    "action_play": #FFD23F,
    "almost": #CB9CF2,
);

@media print {
    body {
        font-size: 14px;
        background-color: transparent;
    }

    @each $name, $color in $colors {
        ##{$name} {
            background-color: transparent !important;

            .heading-container {
                background-color: $color;
            }
        }
    }
}