@use "../../shared.scss" as g;

body {
    background-size: 100%;
    background-image: g.$photomone-antsassins-bg-pattern-url;

    @media all and (max-width:800px)
    {
        background-image: none;
    }
}

$icons: (
    "spy": 0,
    "double": 1,
    "antsassin": 2,
    "secret": 3,
    "rotate": 4,
    "swap": 5,
    "hint": 6,
    "retry": 7,
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }

    .icon-#{$name} {
        background-image: g.$photomone-antsassins-almost-actions-url;
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

#setup, #action_play, #expansions {
    background-color: #FFD23F;
}

#objective, #rules_of_drawing {
    background-color: #CB9CF2;
}

.rulebook {
    color: #111111;
}