{{ $metadata := slice }}

{{ with .Params.playercount }}
	{{ if and (reflect.IsSlice .) (gt (len .) 0) }}
		{{ $playercount := printf "%d-%d players" (index . 0) (index . (sub (len .) 1)) }}
		{{ $metadata = $metadata | append $playercount }}
	{{ end }}
{{ end }}

{{ with .Params.playtime }}
	{{ $str := printf "%d minutes" . }}
	{{ $metadata = $metadata | append $str }}
{{ end }}

{{ with .Params.difficulty }}
	{{ $metadata = $metadata | append . }}
{{ end }}

{{ with .Params.multiplayermode }}
	{{ $metadata = $metadata | append . }}
{{ end }}

{{ with .Params.genres }}
	{{ $metadata = $metadata | append . }}
{{ end }}

{{ with .Params.categories }}
	{{ range . }}
		{{ $metadata = $metadata | append . }}
	{{ end }}
{{ end }}

{{ with .Params.tags }}
	{{ $metadata = $metadata | append . }}
{{ end }}

{{ with .Params.themes }}
	{{ $metadata = $metadata | append . }}
{{ end }}

{{ $metadata = shuffle $metadata | first 5 }}

{{ return $metadata }}