{{- $img_url := index (strings.Split .img_url ".") 0 -}} <!--- chop off any extension --->
{{- $exts := slice "webm" "webp" "png" -}}
{{- $page_url := .context.Page.RelPermalink -}}
{{- $base_url := printf "content%sassets/%s" $page_url $img_url }}
{{- $temp_url := "" -}}
{{- $exists := false -}}
{{- range $exts -}}
	{{- $temp_url = printf "%s.%s" $base_url . -}}
	{{- if fileExists $temp_url -}}
		{{- $exists = true -}}
		{{- break -}}
	{{- end -}}
{{- end -}}
{{- $temp_url = replace $temp_url "content" "" -}}
{{- if not $exists -}}{{- $temp_url = "" -}}{{- end -}}
{{- return $temp_url -}}