@use "sass:color";

$header-font: "dejavu";
$body-font: "dejavu";
$base: "/maybe-games/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #FCFCFC;
$text-color: #111111;

$link-color: #212121;
$link-color-hover: #aa2222;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-BoldOblique.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    font-size: calc(13px + 0.390625vw);
}

a {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game {
    font-family: $header-font;
    font-weight: bold;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited {
    background-color: #FCFCFC;
    color: #212121;
    
    &:hover {
        background-color: #212121;
        color: #FCFCFC;
    }
}