{{ $paginator := .paginator }}
{{ $has_prev := $paginator.HasPrev }}
{{ $has_next := $paginator.HasNext }}
{{ $something_to_show := or $has_prev $has_next }}
{{ if $something_to_show }}
<nav class="pagination">
	<h2 class="text-center add-leaf-before add-leaf-after">Navigation</h2>
	<ul class="flex flex-align-center flex-wrap no-default-list-styles font-heading gap-s margin-s">
		{{ if $has_prev }}
			<li><a class="pagination-item-first navigation-link" href="{{ $paginator.First.URL }}"><span>First Page</span></a></li>
			<li><a class="pagination-item-prev navigation-link" href="{{ $paginator.Prev.URL }}"><span>Previous Page</span></a></li>
		{{ else }}
			<li><span class="margin-s">No previous page :(</span></li>
		{{ end }}

		<li>
			<span>{{ $paginator.PageNumber }}</span>
			<span> of </span>
			<span>{{ $paginator.TotalPages }}</span>
		</li>
		
		{{ if $has_next }}
			<li><a class="pagination-item-next navigation-link" href="{{ $paginator.Next.URL }}"><span>Next Page</span></a></li>
			<li><a class="pagination-item-last navigation-link" href="{{ $paginator.Last.URL }}"><span>Last Page</span></a></li>
		{{ else }}
			<li><span class="margin-s">No next page :(</span></li>
		{{ end }}
	</ul>
</nav>
{{ end }}