body {
    font-family: 'Nova Flat', serif;
    font-size: 18px;
    line-height: 140%;

    background-color: #e4fba3;
    background-image: url(webp/bg_pattern.webp);
    color: #282e31;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Nova Flat', cursive;
    text-align: center;
    font-size: 52px;
    margin-top: 15px;
    margin-bottom: -10px;
}

section .center {
    background-color: #b8eafe;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.buy-link-container .buy-link {
    font-family: "Nova Flat";
    font-size: 36px;
    line-height: 40px;

    border-radius: 0px;
    box-shadow: none;

    border-radius: 12px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: rgb(24, 144, 213);
    color: rgb(9, 58, 87);

    transition: color 0.3s, filter 0.3s, transform 0.3s;
    filter: drop-shadow(0 0 5px #000000);

    &:hover {
        background-color: rgb(9, 58, 87);
        color: rgb(24, 144, 213);
        transform: scale(1.1);
    }
}

a {
    color: rgb(9, 58, 87);
    transition: color 0.3s;
    &:hover {
        color: rgb(215, 31, 31);
    }
}

#first-line {
    font-size: 30px;
    display: block;
    text-align: center;
}