@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-it.woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/proxnov-reg.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.redCategory {
    background-color: #E03926;
    color: white;
}

.blueCategory {
    background-color: #26526D;
    color: white;
}

.purpleCategory {
    background-color: #59365E;
    color: white;
}

.greenCategory {
    background-color: #53672E;
    color: white;
}

h2 {
    font-size: 64px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;

    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.4);
    border-width: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxima Nova Rg', cursive;
}

body {
    font-family: 'Proxima Nova Rg', cursive;
    font-size: 16pt;
    line-height: 130%;

    background-color: #D2E6AB;
    color: black;
}

a, a:visited {
    color: #a9123d;
}

a.btn, a.btn:visited {
    font-family: 'Proxima Nova Rg';
    background-color:#8D2F28; 
    color: white;
    padding: 40px;
}

a.btn:hover {
    background-color: #E03926;
    color: white;
}

.big-header-image {
    filter: none !important;
}

.big-header-image:hover {
    filter: drop-shadow(0 0 10px black);
}

@media all and (max-width: 600px) {
    h2 {
        font-size: 32px;
    }
}