@use "./shared.scss" as g;

body {
    font-family: g.$body-font;
    background-color: #FCFCFC;
    font-size: 18px;
    line-height: 140%;
}

h1, h2, h3, h4 {
    font-family: g.$header-font;
    //font-weight: normal;
}