@use "sass:color";

$header-font: "cutedino";
$body-font: "edusa";
$base: "/waitless-games/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #8ECCE7;
$text-color: #000511;

$col1: #FC8B0D;
$col1-inv: #2d1801;
$col2: #03391f;

$button-bg: $col1;
$button-color: $col1-inv;
$link-color: color.adjust($col2, $lightness: 0%);
$link-color-hover: color.adjust($col2, $lightness: 15%);

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'CuteDino.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'EduSABeginner-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'EduSABeginner-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//
// Page
//
body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    font-size: calc(18px + 0.390625vw);
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 

    &:hover {
        color: $link-color-hover;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}