@use "../css_shared/main.scss" as g;
@use "sass:color";

body {
    font-family: g.$body-font-clean;
    background-color: g.$bg-col;
    font-size: 21px;
}

h1, h2, h3, h4 {
    font-family: g.$header-font;
    font-weight: normal;
}

$ii-size: 24px;

.inline-icon 
{
    width: $ii-size;
    height: $ii-size;
    background-image: url(g.$base + "misc.webp"); // perhaps use downscaled version?
    display: inline-block;
    background-size: cover;
    vertical-align: bottom;
}

.inline-icon-wildcard
{
    background-position-x: -4 * $ii-size;
}

.inline-icon-card
{
    background-position: -6 * $ii-size;
}

.inline-icon-set-match
{
    background-position: -7 * $ii-size;
}

.inline-icon-set-nomatch
{
    background-position: -8 * $ii-size;
}


$a: color.adjust(g.$col1, $lightness: 20%);
$b: color.adjust(g.$col2, $lightness: 20%);
$c: color.adjust(g.$col3, $lightness: 20%);

a {
    color: color.adjust(g.$col3, $lightness: -45%);

    &:hover {
        color: black;
    }
}

#setup {
    background-color: $a;
}

#objective {
    background-color: $b;
}

#action_play {
    background-color: $c;
}

#expansions {
    background-color: $a;
}