$header-font: "Rubik Mono One";
$body-font: "Rubik";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'RubikMonoOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rubik-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rubik-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font, serif;
    background-color: #e4fba3;
    background-image: url(bg_pattern.webp);
    color: #101010;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
    text-align: center;
}

section .center, .screenshot-gallery-container {
    background-color: rgb(255, 220, 163);
    padding: 0.5rem;
    margin-bottom: 1.0rem;
    border-radius: 0.5em;
}

.screenshot-gallery-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.buy-link-container .buy-link {
    font-family: $header-font;
    background-color: rgb(24, 144, 213);
    color: rgb(9, 58, 87);

    &:hover {
        background-color: rgb(9, 58, 87);
        color: rgb(24, 144, 213);
        transform: scale(1.1);
    }
}

a {
    color: rgb(9, 58, 87);
    &:hover {
        color: rgb(215, 31, 31);
    }
}