$header-font-raw: "cherrybomb";
$header-font: $header-font-raw, serif;
$body-font-raw: "quicksand";
$body-font: $body-font-raw, sans-serif;
$base-fonts: "fonts/";
$bg-color: #FF76A0;
$text-color: #320011;
$button-bg: #6ce55a;
$button-color: #073506;
$link-color: #820952;
$link-color-hover: #aa1a71;
$settings-color: #524efe;
$cutoff: 920px;

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'CherryBombOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Quicksand-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Quicksand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// Color scheme: 
// DARKBLUE: #18393E
// MIDBLUE: #438593
// RED: #a51921;   #CF363F
// YELLOW: #FCC038

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
    filter: drop-shadow(3px 3px 3px #212121)
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
    font-size: 20px;
}

.remark-under-settings {
    font-size: 0.75em; 
    opacity: 0.75;
}

.divider-image {
    max-width: $cutoff;
    margin: auto;
    margin-top: 3em;
}

.limit-width {
    max-width: $cutoff;
}

h2 {
    font-size: 56px;
    margin-bottom: 0px;
    color: #FFCCFF;
}

h3 { 
    font-size: 38px;
    margin-bottom: 0px;
}

a {
    color: $link-color; 
    transition: color 0.3s;

    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    .tagline {
        font-size: 1.25em;
    }

    .metadata {
        font-size: 0.85em;
    }
}

.boardgame-intro .big-header-image {
    filter: none !important;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}