$header-font: "berlin";
$body-font: "kalyant";

@font-face {
    font-family: $body-font;
    src: url('fonts/kalyant.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url('fonts/berlinsans.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-align: center;
}

body {
    font-family: $body-font;
    background-color: #F2D64A;
    color: #3A1022;
}

.board-image {
    text-align: center;
}

a.download-btn, a.download-btn:visited {
    font-family: $header-font;
    background-color: #FF2900;
    color: #FFC4AA;

    &:hover {
        background-color: #FFC4AA;
        color: #FF2900;
    }
}