$header-font: "Original Surfer";
$body-font: "Zilla Slab";
$base-fonts: "fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ZillaSlab-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ZillaSlab-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'ZillaSlab-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'OriginalSurfer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body {
    background-color: #94FF8C;
    background-size: 100%;
    font-family: $body-font, cursive;
    font-size: 20px;
    line-height: 140%;
    color: #101010;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font, cursive;
}

h1, h2 {
    text-align: center;
    font-size:52px;
    margin-bottom: 10px;
    margin-top: 40px;
}

a {
    color: #163916;
    border-bottom: 3px solid;
    text-decoration: none;
    font-style: italic;
    transition: color 0.3s;

    &:hover {
        color: #781178;
    }
}

.game-header img
{
    margin: auto;
}

.buy-link {
    display: inline-block;
    padding: 20px;
    background-color: #6BB73E;
    color: rgba(0,0,0,0.75);
    border-radius:0.5em;
    text-decoration: none;
    font-family: $header-font, cursive;
    font-size: 32px;

    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 10px 2px #333;

    margin: 10px;
    max-width: 100%;

    border: none;
    font-style: normal;

    &:hover {
        background-color: #944FC0;
        color: rgba(255,255,255,0.75);
    }
}