$header-font: "puss";
$body-font: "catcafe";
$base-fonts: "fonts/";

$bg-image-url: url("bg_cat_outline.webp");

$col1-dark: #B12B45;
$col2-dark: #2F30A3;
$col3-dark: #892FA3;
$col4-dark: #0D676E;

$col1: #f29eaf;
$col2: #c1c2ff;
$col3: #e09ef3;
$col4: #abebf0;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'catcafe.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'puss.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}