

$header-font: "komikahuna";
$body-font: "englebert";
$base-fonts: "/finger-guns/assets/fonts/";

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Englebert-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Komikahuna.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font;
    font-weight: normal;
    text-decoration: none;
}

input, button, select, option, label 
{
    font-family: $body-font;
}