@use "sass:map";
@use "sass:math";
@use "../../shared.scss" as g;

$main-color: #435a20;
$inv-color: #346899;
$inv-color-dark: #1a466f;
$tagline-bg: #8baece;
$cutoff: 900px;
$btn-text-color: #FFFFFF;
$btn-text-color-hover: #8baece;

body {
    background-color: #d8d8d8;
    background-image: url(bg_pattern.webp);
}

a {
    color: $main-color; 
    &:hover {
        color: $inv-color-dark;
    }
}

.game-settings {
    background-color: $main-color;
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $main-color;
    color: $btn-text-color;
    
    &:hover {
        background-color: $inv-color;
        color: $btn-text-color-hover;
    }
}


@media all and (max-width: $cutoff) 
{
    .tagline 
    {
        background-color: $tagline-bg;
        a {
            color: black;
        }
    }
}

//
// Rules
//
.interactive-example-image-container {
    max-width: 100%;
    text-align: center;

    img {
        max-width: 100%;
        max-height: 240px;
    }
}

.interactive-example-hand-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.0rem;

    img {
        max-width: 100%;
        max-height: 200px;
    }
}

$icons: (
    "double-letter": 1,
    "double-word": 0,
    "thief": 2,
    "destroyer": 3,
    "dictionary": 4,
    "shield": 5,
    "gift": 6,
    "rotate": 7,
    "detour": 8,
    "wall": 9,
    "x-ray": 10,
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }

    .icon-#{$name} {
        background-image: g.$special-cells-domino-url;
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

$colors: (
    "setup": #d9ffa9,
    "objective": #68fed3,
    "expansions": #bebef6,
    "action_play": #ffb6df,
    "action_scoring": #ffd68f,
    "how_it_works": #ffcbcb
);

@each $name, $color in $colors {
    ##{$name} {
        background-color: $color;
    }
}