$header-font: "merienda";
$body-font: "avrile";
$base: "/waterfall/assets/";
$base-fonts: $base + "fonts/";

$bg-col: #95e6ee;
$text-col: #111111;

$col1: #a4cc5e;
$col2: #7b470d;

body {
    font-family: $body-font;
    background-color: $bg-col;
    color: $text-col;
    font-size: calc(13px + 0.390625vw);
    line-height: 130%;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $header-font;
    font-weight: 900;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AvrileSerif-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AvrileSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AvrileSerif-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AvrileSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Merienda-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Merienda-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}