@use "sass:map";

$header-font: "sunny";
$body-font: "minya";
$base: "/the-game-of-happiness/assets/";
$base-fonts: $base + "fonts/";

$bg-col: #ffcaf7;
$text-col: #1b0016;

$col1: #f872f3;
$col2: #3bceff;
$col3:  #975cfc;

$category-colors: (
    "event": #FFFFA5, 
    "item": #FFDDAA, 
    "action": #FEB9B9,
    "goal": #AAFFEB,
    "change": #AAD4FF,
    "habit": #B4AAFF,
    "personal": #E9AAFF,
    "job": #E1E1E1,
    "health": #BDFFAA
);

@each $name, $col in $category-colors {
    .category-#{$name} {
        background-color: $col;
    }
}


@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'SunnySpells-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

