@use "sass:color";

$header-font: "library";
$body-font: "bellota";
$base: "/pyrrameds/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #fff5a6;
$text-color: #212121;

$col1: #b8dcce;
$col2: #c0832d;

$button-bg: $col1;
$button-color: #27231c;
$link-color: $col2;
$link-color-hover: color.adjust($col2, $lightness: -20%);
$settings-color: $col1;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Bellota-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Bellota-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Bellota-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'LIBRARY3AMsoft.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    color: black;
    background-color: $settings-color;
    .setting-remark { color: black; }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
$light-yellow: color.adjust($col1, $lightness: 10%);
$light-purple: color.adjust($col2, $lightness: 30%);

#setup {
    background-color: $light-yellow;
}

#objective {
    background-color: $light-purple;
}

#action_play {
    background-color: $light-yellow;
}

#expansions {
    background-color: $light-purple;
}

blockquote
{
    border-left: 0.25rem solid black;
    padding-left: 0.25rem;
}