$header-font: "Griffy";
$body-font: "Barlow Condensed";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Griffy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'BarlowCondensed-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'BarlowCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'BarlowCondensed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


body {
    background-image: url(windowsilk_bg.webp);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    font-family: $body-font, sans-serif;

    background-color: #DBA05D;
    color: #101010;

    @media screen and (max-width: 720px) {
        background-image: none;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font, cursive;
}

.heading-image {
    max-width: 920px;
    width: 100%;
    margin: auto;
}

h1, h2 {
    text-align: center;
}

.buy-link-container .buy-link {
    font-family: $header-font;
    background-color: #A31119;
    color: white;

    &:hover {
        background-color: pink;
        color: #A31119
    }
}

a {
    color: #082749;
    &:hover {
        color: #134479;
    }
}