@use "sass:color";

$header-font: "romespalace";
$body-font: "cardo";
$special-font: "rechtman";
$base: "/noble-flood/assets/";
$base-fonts: $base + "fonts/";

$bg-color: #fee2f2;
$text-color: #211010;

$col1: #80e2bb;
$col2: #4a1961;

$button-bg: $col1;
$button-color: #27231c;
$link-color: color.adjust($col2, $lightness: 30%);
$link-color-hover: color.adjust($col2, $lightness: 50%);
$settings-color: $col1;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Cardo-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Cardo-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Cardo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $special-font;
    src: url($base-fonts + 'RechtmanPlain.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'ROMESPALACE3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4 {
    font-family: $header-font;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
$light-blue: color.adjust($col1, $lightness: 10%);
$light-pink: color.adjust($bg-color, $lightness: -5%);

#setup {
    background-color: $light-blue;
}

#objective {
    background-color: $light-pink;
}

#action_play {
    background-color: $light-blue;
}

#expansions {
    background-color: $light-pink;
}

blockquote
{
    border-left: 0.25rem solid black;
    padding-left: 0.25rem;
}