
$header-font-raw: "geldotica";
$body-font-raw: "proza";
$base-assets: "/photomone-games/assets/";
$base-fonts: $base-assets + "fonts/";

$bg-color: #5F5449;
$game-color: #51D6FF;
$board-color: #CB9CF2;
$link-color: #EE4266;
$text-color: #efe3d6;
$yellow-highlight: #FFD23F;

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'ProzaLibre-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'ProzaLibre-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'ProzaLibre-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'GelDoticaLowerCaseThick.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$header-font: $header-font-raw, cursive;
$body-font: $body-font-raw, serif;

$border-image-url: url(/photomone-games/assets/photomone_border_image.webp);
$photomone-types-url: url(/photomone-games/draw/photomone/assets/point_types.webp);
$photomone-digital-types-url: url(/photomone-games/draw/photomone-digital-antists/assets/point_types.webp);

$photomone-antsassins-almost-actions-url: url(/photomone-games/draw/photomone-antsassins/assets/almost_actions.webp);
$photomone-antsassins-bg-pattern-url: url(/photomone-games/draw/photomone-antsassins/assets/bg_pattern.webp);

//
// SHARED WIDGETS
//
.photomone-update-block, .photomone-link-block {
    border-style: solid;
    border-image-slice: 64 64 64 64;
    border-image-width: 8px 8px 8px 8px;
    border-image-outset: 8px;
    border-image-repeat: round round;
    border-image-source: $border-image-url;

    background-color: #0e7238;
    padding: 1em;
    margin-bottom: 1.5em;
    a { 
        color: #acfcce;
        &:hover { color: white; }
    }

    &:before {
        content: "UPDATE!";
        display: inline-block;
        font-weight: bold;
        opacity: 0.5;
        margin-right: 0.35em;
    }
}

.photomone-link-block 
{
    &:before 
    {
        content: "OPTION";
    }
}

.donation-buttons-container 
{
    filter: drop-shadow(0 0 3px #333);
}

.photomone-button, a.btn, a.download-btn, #btn-generate-board, #btn-start-game, #btn-create-pdf 
{
    min-height: 33px;
    min-width: 66px;
    border-radius: 0;

    border-style: solid;
    border-image-slice: 64 64 64 64;
    border-image-width: 8px 8px 8px 8px;
    border-image-outset: 8px;
    border-image-repeat: round round;
    border-image-source: $border-image-url;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    filter: none;
    box-shadow: none;

    &:hover {
        transform: scale(1.07);
    }
}   

.photomone-button {
    cursor: Vector2er;

    background-color: rgba(255,255,255,0.5);
    color: #2b2117;

    &:hover {
        background-color: rgba(0,0,0,0.8);
        color: #f5e4d2;
    }
}

.photomone-canvas {
    .word-container {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        gap: 1rem;

        @media all and (max-width: 700px)
        {
            font-size: 0.75em;
        }

        .word-points-container, .word-lines-container {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 0.33rem;

            img {
                max-width: 100%;
                height: 48px;
            }
        }

        .word {
            font-size: 2.5rem;
            text-align: center;

            @media all and (max-width: 700px)
            {
                font-size: 2rem;
            }
        }
    }

    img {
        width: auto;
    }

    .ui {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .hint-text {
            text-align: center;
            font-size: 1.0rem;
            opacity: 0.66;

            @media all and (max-width: 700px)
            {
                font-size: 0.75em;
            }
        }
    }
}

//
// PAGE
//
h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $yellow-highlight;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

.game-settings {
    background-color: $game-color;
    color: #0a4c60;

    h3 { color: #0a4c60; }
}

#btn-start-game, #btn-start-game:visited {
    background-color: $game-color;
    color: #0a4c60;
    margin-top: 0.5em;

    &:hover {
        background-color: #0a4c60;
        color: $game-color;
    }
}

.board-game-settings {
    background-color: $board-color;
    color: #491476;

    h3 { color: #491476; }
}

#btn-generate-board, #btn-generate-board:visited {
    background-color: $board-color;
    color: #491476;
    margin-top: 0.5em;

    &:hover {
        background-color: #491476;
        color: $board-color;
    }
}

a.download-btn, a.download-btn:visited {
    color: #360303;
    background-color: $link-color;
    &:hover {
        color: $link-color;
        background-color: #360303;
    }
}

a {
    color: $yellow-highlight;
    &:hover {
        color: #fff2c8;
    }
}

.boardgame-intro {
    .tagline {
        color: $text-color;
    }
}

// @NOTE: this is kept a separate stylesheet because it has many clashing styles that I wouldn't want in the rulebook or page.
* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 98%; /* @NOTE: for some reason, 100% adds scrollbars?!?!? */
    margin: 0;
    padding: 0;
}

body {
    font-family: g.$body-font;
    background-color: #5F5449;
    color: #111111;
}

h1,h2,h3,h4,h5,h6,button,input {
    font-family: g.$header-font;
    text-align: center;
    color: #111111;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

#feedback-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 3em;
}

.overlay-window {
    background-color: #51D6FF;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 5px black;
    margin: 1em;
}

.overlay-window p {
    max-width: 500px;
    margin: auto;
    margin-top: 1em;
}

.ui {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;	
    padding: 1em;
}

.score-node, .turns-node {
    font-size: 0.5em;
    font-family: g.$body-font;
    opacity: 0.75;
}

button {
    width: 100%;
    font-size: 2em;
    cursor: Vector2er;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 5px black;
    background-color: rgba(255,255,255,0.8);
    transition: color 0.3s, background-color 0.3s;
}

button:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.photomone-button {
    min-height: 33px;
    min-width: 66px;
    border-radius: 0;

    border-style: solid;
    border-image-slice: 64 64 64 64;
    border-image-width: 8px 8px 8px 8px;
    border-image-outset: 8px;
    border-image-repeat: round round;
    border-image-source: g.$border-image-url;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    filter: none;
    box-shadow: none;
}   

.word-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.word-color-0 {
    background-color: #FFD23F;
}

.word-color-1 {
    background-color: #37FF8B;
}

.word-color-2 {
    background-color: #EE4266;
}

.word-color-3 {
    background-color: #CB9CF2;
}

.word-option {
    width: 100%;
    padding: 1em;
    border-radius: 0.25em;
    cursor: Vector2er;
    user-select: none;
}

.word-option-word {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.word-option-metadata {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.word-option-lines-data, .word-option-points-data {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.25em;
}

.word-option img {
    width: 32px;
    height: 32px;
}

.word-option-unselected {
    opacity: 0.66;
}

.word-option-selected {
    outline: 4px solid black;
    box-shadow: 0 0 20px black;
    opacity: 1.0;
}

.word-option button {
    display: none;
    width: 42px;
}

.word-option-selected button {
    display: block;
}

@media all and (min-width: 700px)
{
    .word-option {
        max-width: 300px;
    }
}

$photomone-digital-types-url: url(/photomone-games/draw/photomone-digital-antists/assets/point_types.webp);

.interface-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1em;

    background-color: rgba(0,0,0,0.35);
    margin-left: 1em;
    margin-right: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: white;
}

.interface-bar-minified {
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
}

.interface-bar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.45em;
}

.interface-bar img {
    max-width: 32px;
}

.button-container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.timer-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
}

.timer-container .dynamic-timer-rectangle {
    background-color: green;
    width: 100%;
    height: 100%;
}

.timer-container .timer-number {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 0.75em;
}

.canvas-drawable-container {
    position: relative;
    background-color: white;
}

.canvas-drawable-container canvas {
    z-index: 100;
}

.canvas-drawable-container .big-lines-counter {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.33;
    pointer-events: none;
    z-index: 0;
}

.tutorial-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0em;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-container img {
    max-width: 32px;
}

.tutorial-container .tutorial {
    max-width: 400px;
}

.tutorial-container .tutorial-instruction {
    font-style: italic;
    opacity: 0.66;
}

.feedback-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ee4266;
    padding: 1em;
    box-shadow: 0 0 5px 5px black;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    z-index: 500;
}

.special-point-table {
    max-width: 500px;
    margin: auto;
    margin-top: 1em;
}

.special-point-entry {
    display: flex;
    gap: 1em;
    padding: 0.66em;
    align-items: center;
    align-content: center;
}

.special-point-entry:nth-child(odd)
{
    background-color: rgba(0,0,0,0.2);
}

.icon {
    width: 32px;
    height: 32px;
    background-image: $photomone-digital-types-url;
    background-size: 800%;
    filter: drop-shadow(0 0 2px #333);
}

.icon-numLines {
    background-position-x: 0%;
    background-position-y: 0%;
}

.icon-distance {
    background-position-x: -100%;
    background-position-y: 0%;
}

.icon-points {
    background-position-x: -200%;
    background-position-y: 0%;
}

.icon-stuck {
    background-position-x: -300%;
    background-position-y: 0%;
}

.icon-fixed {
    background-position-x: -400%;
    background-position-y: 0%;
}

.icon-repel {
    background-position-x: -500%;
    background-position-y: 0%;
}

.icon-eraser {
    background-position-x: -600%;
    background-position-y: 0%;
}

.icon-magiciant {
    background-position-x: -700%;
    background-position-y: 0%;
}

.icon-timer {
    background-position-x: 0%;
    background-position-y: -100%;
}

.icon-wordeater {
    background-position-x: -100%;
    background-position-y: -100%;
}

.icon-foodloose {
    background-position-x: -200%;
    background-position-y: -100%;
}

.icon-wolverine {
    background-position-x: -300%;
    background-position-y: -100%;
}

.icon-TODO1 {
    background-position-x: -400%;
    background-position-y: -100%;
}

.icon-TODO2 {
    background-position-x: -500%;
    background-position-y: -100%;
}

.icon-TODO3 {
    background-position-x: -600%;
    background-position-y: -100%;
}

.icon-poisonTrail {
    background-position-x: -700%;
    background-position-y: -100%;
}

//
// Rules
//
$icons: (
    "numLines": 0,
    "distance": 1,
    "points": 2,
    "remove": 3,
    "fixed": 4,
    "repel": 5,
    "curve": 6,
    "add": 7,
    "trap": 8,
    "wings": 9,
    "teleport": 10,
    "poisonTrail": 11,
    "leader": 12,
    "dreamdrawing": 13,
    "break": 14,
    "pants": 15,
    "solid": 16,
    "eyes": 17,
    "unfinished": 18,
    "eraser": 19
);

@each $name, $frame in $icons {
    $col: $frame % 8;
    $row: 0;
    @if $frame >= 8 {
        $row: 1;
    }
    @if $frame >= 16 {
        $row: 2;
    }

    .icon-#{$name} {
        background-image: g.$photomone-types-url;
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

$colors: (
    "setup": #FFD23F,
    "objective": #CB9CF2,
    "action_play": #FFD23F,
    "rules_of_drawing": #CB9CF2,
    "expansions": #FFD23F,
);

@each $name, $color in $colors {
    ##{$name} {
        background-color: $color;
    }
}

.rulebook {
    color: #111111;
}