
$header-font: "sunny";
$body-font: "minya";
$base-fonts: "fonts/";

$bg-col: #FCBDBD;
$text-col: #210000;

$col1: #fe94e9;
$col2: #63ffe0;
$col3: $col1;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'MinyaNouvelle-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'SunnySpells-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

