$header-font: "sloval";
$body-font: "merriweather";
$fancy-font: "ciscopic";

$base-fonts: "fonts/"; 

@font-face {
    font-family: 'Merriweather';
    src: url($base-fonts + "Merriweather-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url($base-fonts + "Merriweather-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url($base-fonts + "Merriweather-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ciscopic';
    src: url($base-fonts + "Ciscopic-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sloval';
    src: url($base-fonts + "sloval-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}