@use "sass:map";
@use "sass:math";
@use "./shared.scss" as g;

$body-font-size: 18px;
$body-line-height: 140%;

h1, h2, h3, h4, h5, h6 {
    font-family: g.$header-font;
}

body {
    font-family: g.$body-font;
    background-color: #212121; // #5F5449;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

.remark {
    line-height: 120%;
}

.icon {
    background-image: url('cell_types.webp');
    background-size: 800%;
}

table {
    tr:nth-child(2n) {
        background-color: rgba(0,0,0,0.8);
    }

    tr:nth-child(2n+1) {
        background-color: rgba(0,0,0,0.6);
    }
}

#setup {
    background-color: #98bb45;
    color: #0d440c;
}

#objective {
    background-color: #FCC038;
    color: #211701;
}

#action_play {
    background-color: #8c3f13;
    color: #ffe4d5;

    .remark {
        background-color: rgba(255,255,255,0.5);
    }
}

#special_types {
    background-color: #344f4b;
    color: #cdf6f0;
}

@media print {
    body {
        font-size: 10.5pt;
    }

    a:not([href]) { display: none; }

    p {
        break-inside: avoid;
    }

    #kangaruse-type-table {
        break-before: avoid;
    }

    .icon {
        width: 32px !important;
        height: 32px !important;
    }

    table {
        tr:nth-child(2n) {
            background-color: rgba(0,0,0,0.05);
        }
    
        tr:nth-child(2n+1) {
            background-color: rgba(0,0,0,0.1);
        }
    }

    .float-right {
        clear: both;
        float: none;
        margin: auto;

        img {
            max-width: 200px;
            display: block;
            margin: auto;
        }
    }
}