
$header-font-raw: "mailray";
$header-font: $header-font-raw, Georgia, serif;
$body-font-raw: "poppins";
$body-font: $body-font-raw, Arial, sans-serif;
$base-fonts: "fonts/";

$bg-color: #98bb45;
$text-color: #0d440c;
$button-bg: #FCC038;
$button-color: #27231c;
$link-color: #3b4f0e;
$link-color-hover: #5d7a1a;
$settings-color: #8c3f13;

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Poppins-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Poppins-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'MailRayStuff-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;

    background-image: url("page/bg_pattern.webp");
    background-repeat: repeat;
    background-size: 50%;

    @media all and (max-width: 450px)
    {
        background-image: none;
    }
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    letter-spacing: 0.04em;
}

.title-container {
    margin-top: 5em;
}

.big-header-image {
    border-bottom: 6px solid currentcolor;
}

a {
    color: $link-color; 

    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
    color: beige;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//
.icon {
    background-image: url('cell_types.webp');
    background-size: 800%;
}

table {
    tr:nth-child(2n) {
        background-color: rgba(0,0,0,0.8);
    }

    tr:nth-child(2n+1) {
        background-color: rgba(0,0,0,0.6);
    }
}

#setup {
    background-color: #98bb45;
    color: #0d440c;
}

#objective {
    background-color: #FCC038;
    color: #211701;
}

#action_play {
    background-color: #8c3f13;
    color: #ffe4d5;

    .remark {
        background-color: rgba(255,255,255,0.5);
    }
}

#special_types {
    background-color: #344f4b;
    color: #cdf6f0;
}

@media print 
{
    .icon {
        width: 32px !important;
        height: 32px !important;
    }

    table {
        tr:nth-child(2n) {
            background-color: rgba(0,0,0,0.05);
        }
    
        tr:nth-child(2n+1) {
            background-color: rgba(0,0,0,0.1);
        }
    }

    .float-right {
        clear: both;
        float: none;
        margin: auto;

        img {
            max-width: 200px;
            display: block;
            margin: auto;
        }
    }
}