$header-font: "fourth";
$body-font: "neuton";
$base-fonts: "fonts/";

$bg-col: #212121;
$text-col: #FCFCFC;

$col1: #fdb2fb;
$col2: #d2ffc5;
$col3: #dedeff;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Neuton-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Neuton-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Neuton-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + '2Peas4thofJuly.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}