@use "../css_shared/main.scss" as g;

* {
    box-sizing: border-box;
    user-select: none;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: g.$body-font;
    color: #FCFFFC;
    background-color: #040F0F;
    background-image: g.$bg-pattern-url;
    background-size: 100%;
    font-size: 20px;
    padding: 1em;
}

h1,h2,h3 {
    font-family: g.$header-font;
}

.main-window {
    max-width: 600px;
    margin: auto;
}

button {
    font-family: g.$header-font;
    font-size: 24pt;

    background-color: #248232;
    padding: 20px;
    margin: 10px;

    color: #FCFFFC;

    border-radius: 10px;
    border-color: transparent;
    display: inline-block;

    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #F4C095;
    color: #040F0F;
}

.button-container {
    text-align: center;
    margin: 1em;
}

h1 {
    text-align: center;
}

#game-container {
    max-width: 820px;
    margin: auto;
}

#instruction {
    max-width: 600px;
    margin: auto;
    font-size: 0.7em;
    opacity: 0.8;
}

.component-container {
    width: 100%;
}

.option-ai .component {
    width: 100%;
}

a {
    color: #E8D33F;
}

a:hover {
    color: #fffce6;
}

.option-ai {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.failure-ai-button {
    background: #300;
    border: none;
    color: red;
    font-weight: bold;
    padding: 0.25em;
    cursor: pointer;
    border-radius: 5px;
}

.failure-ai-button:hover {
    background: pink;
    color: #111111;
    box-shadow: 0 0 5px black;
}

.failure-ai-button:disabled {
    pointer-events: none;
}

.game-options {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 1.25em;
}

.game-options > div {
    width: 100%;
    background-color: #248232;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.game-options .number-text {
    text-align: center;
    font-size: 43px;
    font-family: g.$header-font;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 10px;
    
    margin-top: 5px;
    margin-bottom: 5px;
            
    padding-left: 10px;
    padding-right: 10px;
}

.game-options .people-icon {
    text-align: center;
    background-color: #FA7921;
    border-radius: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: #040F0F;

    padding-bottom: 0px;
}

.game-options  .people-icon img {
    width: 36px;
}

.game-options .resource-line-icon {
    text-align: center;
    background-color: #0094C6;
    border-radius: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: #FCFFFC;

    padding-bottom: 0px;
}

.game-options .resource-line-icon img {
    width: 36px;
}

.game-options .effect-icon {
    margin: 10px;
    
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 10px;
    text-align: center;
    
    border-radius: 10px;
    color: #040F0F;
}

.button-type-buildings {
    background-color: rgba(255,255,255,0.5);
}

.button-type-effects {
    background-color: #FB3640;
}

.component-explanations {
    padding: 0.5em;
}

.game-options .effect-icon:hover {
    background-color: #F4C095;
    cursor: pointer;
}

.event-container {
    background-color: #E8D33F;
    color: black;
    border-radius: 1em;
}

.event-container > div {
    padding: 1em;
}

.event-container h2 {
    margin-top: 12px;
    text-align: center;
}

.probability-text {
    color: rgba(255,255,255,0.5);
}

.effect-type-text {
    font-weight: 100;
}

/* all styles for the different effect categories */
.type-environment {
    color: #2BA84A;
}

.type-government {
    color: gray;
}

.type-entertainment {
    color: #FB3640;
}

.type-building {
    color: brown;
}

.type-effect {
    color: #EA638C;
}

.type-street {
    color: #FA7921;
}

.type-a {
    color: #67597A;
}

.type-b {
    color: #0094C6;
}

@media all and (max-width: 820px) {
    .game-options {
        flex-direction: column;
    }

    .game-options > div {
        margin: 0px;
        margin-bottom: 20px;
    }

    .download-btn {
        font-size: 16pt;
    }
}