{{- $base_id := or .id "multi-checkbox" -}}
{{- $values_checked := split (or .values_checked "") "," -}}
{{- $values := split .values "," -}}
{{- $keys := split (or .keys "") "," -}}
{{- if ne (len $keys) (len $values) -}}
	{{- $keys = $values -}}
{{- end -}}
<div class="multi-checkbox">
{{- range $k, $v := $values -}}
	{{- $id := printf "%s-%s" $base_id $v -}}
	{{- $key := index $keys $k | title -}}
	{{- $checked_bool := in $values_checked $v -}}
	{{- $checked := "" -}}
	{{- if $checked_bool -}}{{- $checked = "checked" -}}{{- end -}}
	<label for="{{- $id -}}">{{- $key -}}</label>
	<input type="checkbox" name="{{- $id -}}" id="{{- $id -}}" {{ with $checked }}{{- . -}}{{- end -}}>
{{- end -}}
</div>
{{- with .remark -}}<span class="setting-remark">{{- . | safeHTML -}}</span>{{- end -}}