@use "./shared.scss" as g;
@use "sass:color";

body {
    color: #111111;
}

$light-yellow: color.adjust(g.$col1, $lightness: 10%);
$light-purple: color.adjust(g.$col2, $lightness: 30%);

.rules-example
{
    img {
        max-height: 12.5vw;
    }
}

#setup {
    background-color: $light-yellow;
}

#objective {
    background-color: $light-purple;
}

#action_play {
    background-color: $light-yellow;
}

#expansions {
    background-color: $light-purple;
}