@font-face {
    font-family: 'HAMMOCK';
    src: url(fonts/hammock.woff2);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.image-as-heading {
    max-width: 720px;
    margin: auto;
    display: block;

    margin-bottom: -20px;
    margin-top: 60px;
}

.buy-link-container {
    gap: 20px;
}

strong {
    color: #3F5311;
}

em {
    color: #66261e;
}

body {
    background-image: url(webp/tourists_bg.webp);
    background-repeat: repeat-y;
    background-position: center;
    background-color: #070110;
    background-size: 100%;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: #101010;
}

a {
    color: #5b2c15;
}

.buy-link {
    background-color: #6BB73E;
    color: rgba(0,0,0,0.75);
    font-family: 'HAMMOCK', cursive;
    font-size: 42px;

    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 10px 2px #333;

    padding-top: 10px; /* Hammock likes too much space at the top */

    
    &:hover {
        background-color: #944FC0;
        color: rgba(255,255,255,0.75);
    }
}