body {
    background-image: url(webp/squareogre_bg.webp);
    background-repeat: repeat-y;
    background-position: center;
    background-color: #070110;
    background-size: 100%;
    font-family: 'Andika New Basic', sans-serif;
    font-size: 20px;
    color: #FCFCFC;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Hanalei Fill', cursive;
    font-weight: normal;
}

.limit-width, .image-as-heading img, section .center {
    max-width: 900px;
    margin: auto;
}

img[src$='#float'] { 
    max-width: 300px;
    float:left;
}

.image-as-heading {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: -50px;
    text-align: center;

    img {
        width: 100%;
    }

    @media all and (max-width: 660px) {
        margin-bottom: -30px;
    }
}

h1 {
    text-align: center;
    font-size:52px;
    margin-bottom: 10px;
    margin-top: 40px;

    color: #FCFCFC;
}

.buy-link, main a {
    padding: 20px;
    background-color: #6BB73E;
    color: rgba(0,0,0,0.75);
    font-family: 'Hanalei Fill', cursive;
    font-size: 32px;

    margin: 10px;
    max-width: 100%;

    &:hover {
        background-color: #944FC0;
        color: rgba(255,255,255,0.75);
    }
}

main a {
    display:block;
    margin: auto;
    margin-top: 20px;

    width: auto;
    max-width: 400px;
    font-size: 24px;
    border-radius: 0.5em;
    text-decoration: none;
}