
$header-font: "brasspounder";
$body-font: "caslon";
$base: "/the-luck-legends/roll/deceptidice/assets/";
$base-fonts: $base + "fonts/";

@font-face {
    font-family: $header-font + "_smallcaps"; // @NOTE: font-variant: small-caps not properly supported in @font-face :(
    src: url($base-fonts + 'BrasspounderSC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Brasspounder.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'CaslonAntique-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'CaslonAntique-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'CaslonAntique-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'CaslonAntique-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: $body-font;
    font-size: calc(17px + .390625vw);
}

h1, h2, h3, h4, h5, h6, .btn-custom
{
    font-family: $header-font + "_smallcaps";
    font-weight: normal;
}

input, button, select, option, label 
{
    font-family: $body-font;
}