$header-font: "canoe";
$body-font: "caslon";
$base: "/hasty-accusations/assets/";
$base-fonts: $base + "fonts/";

$bg-col: #111;
$text-col: #F0F0F0;

$col1: #96e7f9;
$col2: #ff9595;
$col3: #ed8dfc;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'LibreCaslonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'DraggingCanoeRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}