body {
    font-family: 'Baloo 2', cursive;
    background-color: #1A1D33;
    color: white;
    line-height: 120%;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', cursive;
    line-height: 120%;
}

h2 {
    font-size: 48px;
    margin-bottom: 0px;
}

.board-image {
    max-width:960px;
    margin:auto;
    padding: 20px;
}

.boardgame-intro {
    .tagline, .metadata {
        color: white;
    } 
}

a {
    color: rgb(211, 206, 255);
    transition: color 0.3s;

    &:hover {
        color: #FB3640;
    }
}


a.download-btn, a.download-btn:visited {
    background-color: #FB3640;
    color: white;
    line-height: 120%;
    font-family: 'Baloo 2', cursive;
}

a.download-btn:hover {
    background-color: rgb(255, 106, 100);
    color: rgb(0,0,0,0.75);
}