$body-font-raw: "fraunces";
$header-font-raw: "superfuntime";
$base-assets: "/slippery-slopes/assets/";
$base-fonts: $base-assets + "fonts/";

$col-blue: #67ddd9;
$col-green: #87d66d;
$col-red: #f88d81;
$col-purple: #d997fa;

$bg-color: #FDFDFD;
$text-color: #171717;
$game-color: transparent;
$game-text-color: currentcolor;
$link-color: #256011;
$link-color-hover: #61B446;
$download-link-bg: #F35441;
$download-link-color: #ffe2de;
$heading-color: #F35441;
$game-btn-bg: #B741F3;
$game-btn-color: #f4dfff;

// This is the Fraunces "super-soft" variation, as it fit best with the general theme and other font
@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-raw;
    src: url($base-fonts + 'Fraunces9ptSuperSoft-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font-raw;
    src: url($base-fonts + 'SuperFuntime.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$header-font: $header-font-raw, cursive;
$body-font: $body-font-raw, Georgia, sans-serif;
$bg-image: url(/slippery-slopes/assets/bg_pattern.webp);

body {
    font-family: $body-font;
    background-color: #FFFFFF;
    background-image: $bg-image;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label
{
    font-family: $header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    text-align: center;
    margin-top: 0.5rem;
}

.metadata-container {
    h1,h2,h3,h4,h5,h6 {
        color: #250425;
    }
}

section .center {
    background-color: rgba(255,255,255,0.8);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.game-settings {
    background-color: $game-color;
    color: $game-text-color;
    padding: 0;
    filter: none;

    h3 { color: $game-text-color; }
}

#btn-start-game, #btn-start-game:visited {
    background-color: $game-btn-bg;
    color: $game-btn-color;
    margin-top: 0.5em;

    &:hover {
        background-color: $game-btn-color;
        color: $game-btn-bg;
    }
}

a.download-btn, a.download-btn:visited {
    color: $download-link-color;
    background-color: $download-link-bg;

    &:hover {
        color: $download-link-bg;
        background-color: $download-link-color;
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    .big-header-image img {
        border-bottom: 0.25rem solid #500e06;
    }
}

//
// Rules
//
$icons: (
    "add": 0,
    "replace": 1,
    "ignore": 2,
    "double": 3,
    "hint": 4,
    "category": 5,
    "order": 6,
    "property": 7,
);
$max-frames: 8;

@each $name, $frame in $icons {
    $col: $frame % $max-frames;
    $row: 0;

    .icon-#{$name} {
        background-image: url(/slippery-slopes/assets/actions.webp);
        background-size: 800%;
        background-position-x: -$col * 100%;
        background-position-y: -$row * 100%;
        margin: auto;
    }
}

#setup {
    background-color: $col-blue;
}

#objective {
    background-color: $col-green;
}

#action_play {
    background-color: $col-red; 
}

#expansions {
    background-color: $col-purple;
}

$padding: 1em;
$timer-height: 20px;

.game-container {
    background-color: rgba(255,255,255,0.8);
    padding: $padding;
    margin: auto;
    max-width: 720px;
    border-radius: 1em;
        
    h2 {
        text-align: center;
        font-size: 3em;
        margin-top: 1rem;
    }

    button {
        width: 100%;
        padding: 1em;
        font-size: 1em;
        border-radius: 0.5em;
        background-color: rgba(0,0,0,0.8);
        color: #FDFDFD;
        border-style: none;
        cursor: Vector2er;
        transition: color 0.2s, background-color 0.2s;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .instruction-remark
    {
        font-style: italic;
        opacity: 0.8;
        font-size: 0.8em;
    }
}


.word-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin: 1em;

    .word-option {
        width: 100%;
        max-width: 300px;
        padding: 1em;
        background-color: #BBBBBB;
        text-align: center;
        border-radius: 1em;
        opacity: 0.75;
        cursor: Vector2er;

        &.selected {
            opacity: 1.0;
            filter: drop-shadow(0 0 5px black);
        }

        .word {
            font-size: 1.75em;
            font-weight: bold;
        }

        .category {
            font-size: 0.8em;
            opacity: 0.75;
            font-style: italic;
        }
    }
}

.sliders-screen {
    position: relative;
}

.timer-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.66);


    .timer-bar {
        background-color: green;
        height: $timer-height;
        width: 100%;
    }

    .timer-text {
        position:absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
    }
}

.sliders-container
{
    display: flex;
    padding-top: $timer-height;
    max-height: calc(100vh - $timer-height - 2*$padding);

    // for those who stubbornly want to play portrait anyway
    @media all and (orientation:portrait) and (max-width:600px)
    {
        flex-wrap: wrap;

        .slider-interactive
        {
            max-width: 50%;
        }
    }

    canvas {
        max-width: 100%;
        max-height: 100%;
    }

    .slider-interactive
    {
        position: relative;
        text-align: center;

        .slider-replace-button
        {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            background-color: rgba(0,0,0,0.5);
            padding: 0.5rem;
            border-radius: 0.5em;
            color: white;
            cursor: Vector2er;
            transition: transform 0.2s;
            user-select: none;

            &:hover {
                transform: scale(1.1);
            }
        }
    
        .slider-dragger {
            pointer-events: none;

            position: absolute;
            position: absolute;
            left: 10%;
            height: 8%;
            background-color: white;
            border: 2px solid black;
            border-radius: 1em;
            filter: drop-shadow(0 5px 5px black);
            right: 10%;
        }
    }
    
}

