$header-font: '"IM FELL English SC"';
$body-font: '"IM FELL English"';
$base-fonts: "fonts/"; 

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'IM_FELL_English_SC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IM_FELL_English_Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'IM_FELL_English_Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    background-size: 100%;
    font-family: $body-font, sans-serif;
    font-size: 20px;

    background-color: #FEA240;
    color: #101010;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font, cursive;
}

.game-header {
    padding: 30px;
}

h1, h2 {
    text-align: center;
    font-size:52px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.big_slash {
    margin-top: -1.2vw;
    margin-bottom: -2vw;
}

.alternate_slash {
    transform: scaleY(-100%);
}

.screenshot-gallery-container {
    h2 {
        margin-top: 5px;
    }
}

.video-gallery-container {
    .title-container {
        margin-top: -45px;
        padding-top: 25px;
    }
}

.video-gallery {
    display: flex;
}

.alternate_bg {
    background-color: #210;
    color: #FED;
}

.buy-link, a {
    font-family: $header-font;
    font-size: 36px;

    background-color: #FF6969;
    color: #3C0B0B;

    &:hover {
        background-color: #550707;
        color: rgb(255, 196, 196);
    }
}

.try-link {
    background-color: #1e4287;
    color: lightblue;

    &:hover {
        background-color: lightblue;
        color: #1e4287;
    }
}