{{ $counter := .Scratch.Get "counter" }}

{{ $height_append := or .Params.customHeight "medium" }}

{{ $all_colors := .Site.Params.all_colors }}
{{ $color_scheme := .Params.color }}
{{ if not $color_scheme }}
	{{ $color_scheme = index $all_colors $counter }}
	{{ $height_append = "small" }}
{{ end }}

{{ $height := printf "height-%s" $height_append }}

{{ $reversed := "" }}
{{ if eq (mod $counter 2) 1 }}
	{{ $reversed = "reversed" }}
{{ end }}

{{ $extra_classes := "" }}
{{ if .Params.headerDarkened }}
	{{ $extra_classes = add $extra_classes " darkened" }}
{{ end }}

{{ $header_url := partial "func/get-game-header.html" . }}
{{ $thumb_url := partial "func/get-game-thumb.html" . }}

{{ $non_text_classes := .Params.entryBannerNonTextClasses }}
{{ $text_classes := .Params.entryBannerTextClasses }}

{{ $link_text := "Go to game page" }}
{{ if not .Params.gamepage }}
	{{ $link_text = "Go to page" }}
{{ end }}

<section class="clipped entry-banner {{ $height }} {{ $color_scheme }}">
	<a href="{{ .RelPermalink }}">
		{{ if $header_url }}
			<div class="bg-image {{ $extra_classes }}">
				<div class="image-gradient-overlay"></div>
				{{ partial "show-image.html" (dict "context" . "img_url" $header_url) }}
			</div>
		{{ end }}

		<div class="horizontal-flex {{ $reversed }}" style='color:{{ .Params.textColor }};'>
			<div class="text-side {{ $text_classes }}" style='--blurcolor: {{ .Params.bgColor }}'>
				<h1 style='color:{{ .Params.textColor }};'>{{ .Title }}</h1>
				<p>{{ .Params.blurb }}</p>
				<div class="btn" style="--bgcolor: {{ .Params.bgColorLink }}; --textcolor: {{ .Params.textColorLink }}">
					{{ $link_text }}
				</div>
			</div>
			{{ if $thumb_url }}
				<div class="non-text-side {{ $non_text_classes }}">
					{{ partial "show-image.html" (dict "context" . "img_url" $thumb_url) }}
				</div>
			{{ end }}
		</div>
	</a>
</section>
