{{ $counter := .Scratch.Get "counter" }}

{{ $height_append := or .Params.customHeight "small" }}

{{ $all_colors := .Site.Params.all_colors }}
{{ $color_scheme := .Params.color }}
{{ if not $color_scheme }}
	{{ $color_scheme = index $all_colors $counter }}
	{{ $height_append = "small" }}
{{ end }}

{{ $height := printf "height-%s" $height_append }}

{{ $reversed := "" }}
{{ if eq (mod $counter 2) 1 }}
	{{ $reversed = "reversed" }}
{{ end }}

{{ $header_url := partial "func/get-game-header.html" . }}
{{ $thumb_url := partial "func/get-game-thumb.html" . }}

{{ $non_text_classes := .Params.entryBannerNonTextClasses }}
{{ $text_classes := .Params.entryBannerTextClasses }}

{{ $link_text := "Visit page!" }}
{{ $blurb_text := or (or .Params.blurb .Params.headerTitle) "This is a mysterious game without a description ..." }}

{{ $metadata := partial "func/get-game-metadata.html" . }}

<section class="clipped entry-banner {{ $height }} {{ $color_scheme }}">
	<a href="{{ .RelPermalink }}">
		{{ if $header_url }}
			<div class="bg-image">
				<div class="image-gradient-overlay"></div>
				{{ partial "show-image.html" (dict "context" . "img_url" $header_url) }}
			</div>
		{{ end }}

		<div class="horizontal-flex {{ $reversed }}">
			<div class="text-side {{ $text_classes }}">
				<h1>{{ .Title }}</h1>
				{{ if gt (len $metadata) 0 }}
				<div class="entry-banner-tags-container">
					{{ range $metadata }}
						<div class="entry-banner-tag">{{ . }}</div>
					{{ end }}
				</div>
				{{ end }}
				<p>{{- $blurb_text -}}</p>
				<div class="btn">
					{{ $link_text }}
				</div>
			</div>
			{{ if $thumb_url }}
				<div class="non-text-side {{ $non_text_classes }}">
					{{ partial "show-image.html" (dict "context" . "img_url" $thumb_url) }}
				</div>
			{{ end }}
		</div>
	</a>
</section>
