
{{ $all_colors := .Site.Params.all_colors }}
{{ $color_scheme := or .Params.color (index ($all_colors | shuffle) 0) }}

{{ if and (not .Params.collection) .Params.gamepage }}
	<div class="metadata-divider clipped {{ $color_scheme }}"></div>
	<section class="metadata-container clipped {{ $color_scheme }}">
		{{ partial "metadata.html" . }}
	</section>
{{ end }}

<!-- On narrow screens, a "fake divider" is created and put on top of the footer -->
<!-- Because the footer itself gets very long, using "mask-image" on that results on very ugly HUGE waves -->
<div class="footer-divider clipped {{ $color_scheme }}">
</div>

<footer class="clipped {{ $color_scheme }}">
	{{ if .Params.gamePage }}
		<!-- Show narrow footer, easy styling -->
		{{ partial "narrow-footer.html" . }}
	{{ else }}
		<!-- Show full footer, fixed general styling -->
		{{ partial "full-footer.html" . }}
	{{ end }}
</footer>

<!-- Some variables I'll need below to get the right paths -->
{{ $url := .RelPermalink }}
{{ $game_name := "" }}
{{ with .File }}
	{{ $game_name = .ContentBaseName }}
{{ end }}

<!-- EXTRA CSS -->
<!-- Deferred loading of non-critical CSS -->
{{ $style := slice }}

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "transpiler" "dartsass") }}

{{ if .Params.gamepage }}
	{{ if .Params.boardgame }}
		{{ $change := dict "targetPath" "css/style-boardgame.css" }}
		{{ $new_options := merge $options $change }}
		{{ $style = resources.Get "sass/style-boardgame.scss" | resources.ToCSS $new_options }} 
	{{ else }}
		{{ $change := dict "targetPath" "css/style-game.css" }}
		{{ $new_options := merge $options $change }}
		{{ $style = resources.Get "sass/style-game.scss" | resources.ToCSS $new_options }} 
	{{ end }}
{{ else }}
	{{ $change := dict "targetPath" "css/style.css" }}
	{{ $new_options := merge $options $change }}
	{{ $style = resources.Get "sass/style.scss" | resources.ToCSS $options }}
{{ end }}

<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

{{ partial "load-assets.html" (dict "context" . "ext" "css" "type" "page" "include" .Params.extraCSS) }}

<!-- Default JS needed (for making basic functionality work, like picking random projects) -->
{{ $default_js := resources.Get "/js/functionality.ts" | js.Build "/js/lib-functionality.js" | minify }}
<script async defer src="{{ $default_js.RelPermalink }}"></script>

<!--- CUSTOM JS: Shared --->
{{ if .Params.sharedJS }}
	{{ partial "load-assets.html" (dict "context" . "ext" "js" "type" "shared" "include" .Params.sharedJSInclude "name" .Params.sharedJS) }}
{{ end }}

<!--- CUSTOM JS: Board (will probably move to its own file one day, just like game/rules, but not right now) --->
{{ partial "load-assets.html" (dict "context" . "ext" "js" "type" "board" "include" .Params.extraJSBoardInclude) }}

<!--- CUSTOM JS: This can be anything, as long as it has a folder with the matching name. --->
<!--- Used sporadically when a game does something truly unique --->
<!--- Or for "external" scripts that need to be accessible from the game page or other places --->
{{ $context := . }}
{{ with .Params.customJS }}
	{{ range . }}
		{{ partial "load-assets.html" (dict "context" $context "ext" "js" "type" . "include" true) }}
	{{ end }}
{{ end }}

{{ partial "footer-cached.html" . }}