
<!-- EXTRA CSS -->
<!-- Deferred loading of non-critical CSS -->
{{ $style := slice }}

{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "transpiler" "dartsass") }}

{{ if .Params.gamepage }}
	{{ if .Params.boardgame }}
		{{ $change := dict "targetPath" "css/style-boardgame.css" }}
		{{ $new_options := merge $options $change }}
		{{ $style = resources.Get "sass/style-boardgame.scss" | resources.ToCSS $new_options }} 
	{{ else }}
		{{ $change := dict "targetPath" "css/style-game.css" }}
		{{ $new_options := merge $options $change }}
		{{ $style = resources.Get "sass/style-game.scss" | resources.ToCSS $new_options }} 
	{{ end }}
{{ else }}
	{{ $change := dict "targetPath" "css/style.css" }}
	{{ $new_options := merge $options $change }}
	{{ $style = resources.Get "sass/style.scss" | resources.ToCSS $options }}
{{ end }}

<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

<!-- Load extra CSS, if the page requires it -->
<!-- Can't "combine" this, because it's not a "global resource", but that's fine -->
{{ if .Params.extraCSS }}
	{{ $output_path := printf "../%s/extra.css" (path.Dir .Page.File.Path) }}
	{{ $extra := .Page.Resources.GetMatch "extra.scss" }}

	{{ $change := dict "targetPath" $output_path }}
	{{ $new_options := merge $options $change }}
	
	{{ $style = $extra | resources.ToCSS $new_options }} 
	<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />
{{ end }}

<!-- EXTRA FONTS -->
<!-- Deferred loading of Fonts = huge speed boost -->
{{ $default_google_fonts := "https://fonts.googleapis.com/css2?family=Raleway&family=Dosis:wght@500;800&display=swap" }}
{{ $fonts := or .Params.googleFonts $default_google_fonts }}

<script type="text/javascript">
	var fonts = document.createElement('link');
	fonts.rel = 'stylesheet';
	fonts.href = '{{ $fonts }}';
	var godefer = document.getElementsByTagName('link')[0];
	godefer.parentNode.insertBefore(fonts, godefer);
</script>

<!-- Default JS needed (for making basic functionality work, like picking random projects) -->
{{ $js_bundle := slice }}
{{ $functionality := (resources.Get "/js/functionality.ts" | js.Build "/js/functionality.js" | minify) }}
{{ $js_bundle = $js_bundle | append $functionality }}

<!-- EXTRA JS + Asset bundling -->
{{ $phaser := (resources.Get "/js/phaser.min.js") }}
{{ $phaser.Publish }}

{{ if .Params.pqGames }}{{ $js_bundle = $js_bundle | append $pq_games }}{{ end }}
{{ if .Params.phaser }}{{ $js_bundle = $js_bundle | append $phaser }}{{ end }}
{{ if .Params.pqWords }}{{ $js_bundle = $js_bundle | append $pq_words }}{{ end }}

{{ $names := slice "/js/bundle" }}
{{ range $js_bundle }}
	{{ $name := split .Name "/" }}
	{{ $name = index $name 1 }}
	{{ $name = replace $name ".min.js" "" }}
	{{ $name = replace $name ".js" "" }}
	{{ $names = $names | append $name }}
{{ end }}
{{ $names = $names | append "js" }}
{{ $final_name := delimit $names "." }}

{{ if gt (len $js_bundle) 0 }}
	{{ $final_js_bundle := $js_bundle | resources.Concat $final_name | minify }}
	<script async defer src="{{ $final_js_bundle.RelPermalink }}"></script>
{{ end }}

<!-- Shared JS: when I create multiple spin-off games, they share the same library -->
{{ if .Params.sharedJS }}
	{{ $build_shared_js := .Params.sharedJSBuild }}
	{{ $name := .Params.sharedJS }}
	{{ $file_name := printf "/games/%s/js_shared/main.ts" $name }}
	{{ $output_name := printf "/js_shared/lib-%s.js" $name }}
	{{ $res := resources.Get $file_name }}
	{{ if $build_shared_js }}
		{{ $res = $res | js.Build $output_name | minify }}
	{{ else }}
		{{ $res = $res | minify | resources.Copy $output_name }}
	{{ end }}
	{{ $res.Publish }}
	{{ if not .Params.sharedJSOnlyPublish }}
		<script async defer src="{{ $res.RelPermalink }}"></script>
	{{ end }}
{{ end }}

<!-- Extra JS: unique code for this page, given as relative/absolute links -->
<!-- This is always BUILT (used to be an option as some older games didn't use build system) -->
{{ $js_bundle_extra := slice }}
{{ $url := .RelPermalink }}
{{ $include_extra_js := .Params.extraJS }}
{{ $game_name := "" }}
{{ with .File }}
	{{ $game_name = .ContentBaseName }}
{{ end }}
{{ if and $include_extra_js $game_name }}
	{{ $file_name := printf "/games/%s/js/main.ts" $game_name }}
	{{ $bundle_name := printf "%s/%s" $url "js/bundle.extra.js" }}
	{{ $res := resources.Get $file_name | js.Build $bundle_name | minify }}
	{{ $res.Publish }}
	<script async defer src="{{ $res.RelPermalink }}"></script>
{{ end }}

<!-- Extra JS: build the files used by the game portion, if requested -->
<!-- This is always BUILT (see comment above about older versions not doing that) -->
<!-- but we do not ADD it to this page, we use it on the game page -->
{{ $include_game_js := .Params.extraJSGame }}
{{ if and $include_game_js $game_name }}
	{{ $file_name := printf "/games/%s/js_game/main.ts" $game_name }}
	{{ $bundle_name := printf "%s/%s" $url "js_game/bundle.extra.js" }}
	{{ $res := resources.Get $file_name | js.Build $bundle_name | minify }}
	{{ $res.Publish }}
	<!-- <script async defer src="{{ $res.RelPermalink }}"></script> -->
{{ end }}

<!-- Extra custom JS: simply a hardcoded link to something else -->
<!-- Never used right now, but kept in because it might be critical in certain cases -->
{{ with .Params.extraJSCustom }}
	{{ range . }}
		<script async defer src="{{ . }}"></script>
	{{ end }}
{{ end }}
