
{{- $img_url := index (strings.Split .img_url ".") 0 -}} <!--- chop off any extension --->
{{- $class := or .class "" -}}
{{- $alt := or .alt ($img_url | humanize) -}}
{{- $exts := slice "avif" "webp" "png" "jpg" -}}
{{- $page_url := .context.Page.RelPermalink -}}
{{- $base_url := printf "content%sassets/%s" $page_url $img_url }}

{{- $temp_url := "" -}}
{{- $exists := false -}}
{{- range $exts -}}
	{{- $temp_url = printf "%s.%s" $base_url . -}}
	{{- if fileExists $temp_url -}}
		{{- $exists = true -}}
		{{- break -}}
	{{- end -}}
{{- end -}}

{{- if not $exists -}}
	<picture class="{{ $class }}">
		Sorry, the picture at URL {{ $temp_url }} can't be found!
	</picture>
{{- else -}}
	{{- $final_url := $temp_url }}
	{{- $img := imageConfig $final_url -}}
	{{- $final_url = replace $final_url "content" ""}}
	<picture class="{{ $class }}">
		<img 
			src="{{- $final_url -}}" 
			loading="lazy" 
			decoding="async" 
			alt='{{- $alt -}}' 
			title='{{- $alt -}}'
			width='{{- $img.Width -}}'
			height='{{- $img.Height -}}'
		/>
	</picture>
{{- end -}}