.boardgame-intro 
{
    .big-header-image {
        max-width:100%; 
        margin: auto; 
        //filter:drop-shadow(0 0 0.2em #121212);
        pointer-events:none;
    }

    .tagline, .metadata {
        font-weight: bold;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 

    .tagline {
        font-size: 1.25em;
    }

    .metadata 
    {
        font-size: 0.85em;
        opacity: 0.5;
    }

    .download-btn-container {
        text-align: center;
    }
}