/* @TODO: Check the CSS properties for this link on all the other pages */
/* 		  => then generalize into one base-class, and perhaps a few variations */

.buy-link-container {
	text-align:center;
	margin: auto;

	display: flex;
	justify-content: center;
	gap: 1.0em;

	&.overlay-buy-link {
		z-index: 10; 
		position: relative; 
		margin-bottom: 4.0em;
		margin-top: -5vw !important;
	}

	.buy-link {
		margin-top: 0;
		display: inline-block;
		padding: 1.0em;
		border-radius:0.5em;
		text-decoration: none;
		font-weight: 900;

		transition: background-color 0.5s, color 0.5s;
		box-shadow: 0 0 0.5em 0.2em black;
	}

	.platform-metadata {
		display: block;
	}
}