@use "sass:map";
@use "sass:list";

/* NOTE: This only indiates some specific elements, like the button styling or blurred background */
/* More critical elements (which indicate size, for example) are loaded in critical.scss */
@use "./globals.scss" as g;
@use "./colorschemes" as c;

$default-margin: 2;
$small: 29;
$small-medium: 34;
$medium: 39;
$large: 49;

.entry-banner {
	@each $name, $color in g.$colorschemes {
		&.#{$name} {
			@include c.banner-colorscheme($color);
		}
	}
}

.entry-banner-custom {
	@each $name, $color in g.$colorschemes {
		&.#{$name} {
			@include c.colorscheme($color);
		}
	}
}

.entry-banner {
	overflow: hidden;
	background-color: white;
	font-size: 0.75rem;
	line-height: 1.4em;

	h1 {
		font-size: 2.5rem;
	}

	&.height-small {
		height: $small + 0vw;
	}

	&.height-small-medium {
		height: $small-medium + 0vw;
	}

	&.height-medium {
		height: $medium + 0vw;
	}

	&.height-large {
		height: $large + 0vw;
		margin-top: -2.5vw;
	}

	/* This is completely redundant, as the images are always the full width */
	/* HOWEVER, if I don't do this, the content-visibility algorithm will NOT load the images properly (it loads them at 0x0 size) */
	/* Which would cause all the banner backgrounds to disappear on (mostly) mobil screens */ 
	.bg-image {
		img {
			min-width: 100vw;
		}
	}
	
	@media all and (max-width: g.$cutoff1) 
	{
		margin-top: -1.5rem;

		.bg-image {
			transform: scale(3);
		}

		&.height-small {
			height: 2 * $small + 0vw;
		}

		&.height-small-medium {
			height: 2 * $small-medium + 0vw;
		}

		&.height-medium {
			height: 2 * $medium + 0vw;
			margin-top: -1.5rem;
		}

		&.height-large {
			height: 2 * $large + 0vw;
			margin-top: -2.0rem;
		}

		&.entry-banner-custom {
			height: auto;

			.horizontal-flex {
				position: unset;
			}

			&.height-medium {
				margin-top: calc(-1.0rem + 1vw);
			}

			&.height-large {
				margin-top: calc(-1.25rem + 1vw);
			}

			img {
				display: none;
			}
		}

		@media all and (max-width: g.$cutoff2)
		{
			h1 {
				font-size: 1.5em;
			}
		}
	}

	a:hover {
		.btn {
			filter: brightness(130%);
			box-shadow: 0 0 0.5rem 0 #000000;
		}

		.bg-image {
			transform: scale(1.1);

			@media all and (max-width: g.$cutoff2) {
				transform: scale(3.5);
			}

			/*.image-gradient-overlay {
				background: linear-gradient(180deg, rgba(30,30,30,0.2) 0%, rgba(30,30,30,0.0) 13%);
			}*/
		}

		.non-text-side {
			img {
				transform: scale(0.9);
			}
		}
	}

	.bg-image {
		transition: transform 0.5s;
		
		// auto-darken the background
		img {
			filter: brightness(50%);
		}
	}

	.horizontal-flex {
		justify-content: space-evenly;

		&.reversed {
			.text-side {
				order: 1;
			}

			.non-text-side {
				order: 0;
			}
		}

		.non-text-side {
			max-width: 600px;
			filter: drop-shadow(0 0 0.1rem #333);
			padding: 0.5rem;

			&.no-shadow {
				filter: none !important;
			}

			img {
				max-height: 22vw;
				border-radius: 0.5rem;
				transition: transform 0.5s;
			}

			@media all and (max-width: g.$cutoff1) {
				max-width: 200px;

				&.custom {
					display: none;
				}
			}
		}

		.text-side {
			width: 100%;
			max-width: 400px;
			position: relative;
			padding: 1.0rem;

			&.custom {
				max-width: 600px;
			}

			h1,h2,h3,h4,h5,h6 {
				margin-top: 0;
				margin-bottom: 0;
			}

			@media all and (max-width: g.$cutoff1) {
				&.custom {
					max-width: 100%;
				}
			}

			.btn {
				border-radius: 0.5em;
				font-family: g.$header-font-stack;
				font-size: 1em;

				padding: 0.5rem 1.0rem;

				width: 100%;

				border: 0.125rem solid gray;

				cursor: pointer;
				display: block;
				text-align: center;
				text-transform: uppercase;
				font-weight: 800;

				background: #333333;
				color: #EEEEEE;
				transition: background .5s,color .5s,border-color .5s,box-shadow .5s,filter .5s,opacity .5s;

				@media all and (max-width: g.$cutoff2) {
					display: none;
				}
			}

			&::before {
				background: #000000;
				opacity: 0.75;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
				filter: blur(1.0rem);
				pointer-events: none;
				border-radius: 3em;
			}

			&.custom {
				&::before {
					display: none;
				}
			}
		}
	}
}

.entry-banner-custom > a {
	text-decoration: none !important;
}

.entry-banner-tags-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.66em;
	margin-top: 0.5em;
	gap: 0.3em;

	.entry-banner-tag {
		display: inline-block;
		background-color: rgba(255,255,255,0.85);
		color: #212121;
		border-radius: 0.25em;
		padding-left: 0.25em;
		padding-right: 0.25em;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
	}
}


