@use "./globals" as g;

#phaser-container 
{
	text-align: center;

	img {
		box-shadow: 0 0 0.33rem #333;
	}
}

.game-settings {
	text-align: center;
	margin: auto;
	display: block;
	padding: 1.25rem;
	background-color: g.$default-bg-light;
	color: g.$default-bg-text;
	filter: drop-shadow(0 0 0.25rem #333);
	border-radius: 0.25rem;
    width: 100%;

	div {
		display: grid;
		grid-template-columns: auto auto;
		align-content: center;
		justify-content: space-between;
		grid-gap: 1.0rem;

		text-align: left;
	}

	.setting-remark {
		color: black;
		font-size: 0.75em;
		line-height: 1.1em;
		grid-column: 1 / 3;
		margin-top: -0.5em;
		opacity: 0.7;
	}

    input {
        width: 100%;
    }

	input[type="checkbox"] {
		width: 100%;
		height: 100%;
	}

	select {
		font-family: inherit; 
		padding: 0.5rem;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border: none;
		border-radius: 0.25rem;
		box-sizing: border-box;
	}

	h3 {
		grid-column: 1 / -1;
		text-align: center;
	}

	.multi-checkbox 
	{
		margin-top: 2.0rem;
		grid-template-columns: auto auto auto auto;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

.settings-remark {
	font-size: 0.75em;
	line-height: 1.2em;
	opacity: 0.8;
}

.btn-custom {
	font-weight: 900;

	font-size: 2.0rem;

	background-color: g.$default-bg-dark;
	padding: 1.66rem;
	margin: 0.5rem;

	color: g.$default-bg-light;

	border-radius: 0.5rem;
	box-sizing: border-box;
	display: inline-block;

	transition: background-color 0.3s, color 0.3s;

	border-color: transparent;
	filter: drop-shadow(0 0 0.25rem #333);

	&:hover {
		background-color: g.$default-color-light;
		color: g.$default-color-dark;
		cursor: pointer;
	}
}

#btn-create-pdf {
	background-color: #1D3C6C;

	&:hover {
		background-color: #66A2FF;
		color: #030E1F;
	}
}

div.game-settings-section
{
	// ensure it spreads the entire width
	display: block;
	grid-column: 1 / -1;

	$alpha: 0.33;
	$alpha-hover: 0.15;

	.section-header
	{
		display: block;
		position: relative;

		margin-top: 0.5em;
		margin-bottom: 0.5em;

		background-color: rgba(0, 0, 0, $alpha);
		&.invert-colors
		{
			background-color: rgba(255,255,255,$alpha);
		}

		&:hover
		{
			background-color: rgba(0,0,0,$alpha-hover);
			&.invert-colors { background-color: rgba(255,255,255,$alpha-hover); }
		}

		padding: 0.5em;
		padding-left: 0;
		padding-right: 0;
		border-radius: 0.25em;
		cursor: pointer;
		user-select: none;

		h3,span
		{
			padding: 0;
			margin: 0;
		}

		span
		{
			font-size: 0.775em;
			opacity: 0.66;
			position: absolute;
			right: 0.5em;
			top: 0.5em;
		}
	}
}