@use "sass:map";
@use "sass:list";
@use "sass:math";

@mixin sprite-icon($offset:0) 
{
    background-position-x: $offset;
}

$icon-labels: ("itch", "mail", "youtube", "windows", "mac", "linux", "android", "iOS", "web", "xbox", "playstation", "switch", "about", "gotobottom", "home");

.icon {
    background-image: url(/theme/webp/icons.webp);
    background-size: cover;

    width: 32px;
    height: 32px;
    display: inline-block;

    filter: drop-shadow(0 0 0.1em black);
    transition: transform 0.3s, filter 0.3s;

    @for $i from 1 through list.length($icon-labels) {
        $label: list.nth($icon-labels, $i);

        &.#{$label} {
            @include sprite-icon(($i - 1) * -100 + 0%);
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.hoverable:hover {
        transform: scale(1.3);
        filter: hue-rotate(-120deg) drop-shadow(0 0 0.15em black);
    }
}

.social-icon-list {
    .icon {
        width: 64px;
        height: 64px;
    }
}

header {
    .icon {
        width: 48px;
        height: 48px;
    }
}

.platform-metadata {
    .icon {
        opacity: 0.66;
    }
}