@use "modules/globals.scss" as g;

.metadata-divider {
	display: none;

	@media all and (max-width: g.$cutoff1) {
        
        position: relative;
        z-index: 500;

		display: block;
		height: 130px;
		margin-top: 0;
		margin-bottom: -5rem;
	}
	
}

.metadata-container {
	position: relative;
	z-index: 500;

    @media all and (max-width: g.$cutoff1) {
		mask-image: none !important;
        -webkit-mask-image: none !important;
	}
}

.metadata-container, .entry-banner 
{

    .metadata {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        // @TODO: what the fuck is this doing?
        aside {
            min-width: 300px;
            max-width: 400px;
            padding: 1.25rem;
        }

        h3 {
            font-size: 2.0rem;
            margin-bottom: 1.0rem;
            margin-top: 4.0rem;
            text-align: left;
        }

        @media all and (max-width: 920px) {
            justify-content: left;

            .concrete-metadata {
                order: 0;
            }

            .info {
                order: 1;
            }

            .category-links {
                order: 2;
            }
        }

        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                list-style-type: none;
                display: inline;
            }
        }

        .info {
            em {
                font-size: 1.0rem;
                display:inline-block;
            }
        }

        .info, .concrete-metadata {
            li {
                display: block;
            }
        }

        .category-link, .tag-link {
            padding: 1.25rem;
        }
    }
}