.screenshot-gallery-container, .video-gallery-container
{

	&.full-width {
		padding: 2.5em; 
	}

	content-visibility: auto;

	@media all and (max-width: 660px) {
		padding-left: 0.33em;
		padding-right: 0.33em;
	}

	.screenshot-gallery, .video-gallery {
		height: 400px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		box-sizing: border-box;
		margin: 0;

		margin-top: 1.25em;
	
		img {
			max-height: 100%;
			width: auto;
			height: auto;
			display: inline;
		}
	
		@media all and (max-width: 660px) {
			display: flex;
			flex-wrap: wrap;
	
			overflow-x: auto;
			overflow-y: auto;
			white-space: normal;
	
			img {
				max-width: 100%;
			}
		}
	}
}

.video-gallery-container {
	video {
		max-width: 100%;
		width: auto;
		height: 100%;
	}
}


