$header-font: "puss";
$body-font: "catcafe";
$base-fonts: "fonts/";

$bg-image-url: url("bg_cat_outline.webp");

$col1-dark: #649C1C;
$col2-dark: #2A89C8;
$col3-dark: #E68241;
$col4-dark: #735CA5;

$col1: #cef996;
$col2: #b3ddf9;
$col3: #ffdfc9;
$col4: #ddceff;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'catcafe.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'puss.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}