$header-font: "UnifrakturCook", sans-serif;
$body-font: "Brygada", serif;
$bg-color: #3c005d;
$game-color: #93cfe1;
$game-text-color: #0a4c60;
$link-color: #FFD23F;
$link-color-hover: #fff2c8;
$download-link-bg: #ff48a3;
$download-link-color: #33041b;
$text-color: #efe3d6;
$heading-color: #ff48a3;
$cutoff: 900px;

@font-face {
    font-family: 'UnifrakturCook';
    src: url('/kingseat/assets/fonts/UnifrakturCook-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brygada';
    src: url('/kingseat/assets/fonts/Brygada1918-Regular.woff2') format('woff2'),
        url('/kingseat/assets/fonts/Brygada1918-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brygada';
    src: url('/kingseat/assets/fonts/Brygada1918-Italic.woff2') format('woff2'),
        url('/kingseat/assets/fonts/Brygada1918-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
}

.metadata-container {
    h1,h2,h3,h4,h5,h6 {
        color: #250425;
    }
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    font-size: 19px;
    background-size: 100%;
    color: $text-color;
    line-height: 140%;
}

label {
    font-size: 22px;
}

.limit-width {
    max-width: 960px;
}

h2 {
    font-size: 56px;
    margin-bottom: 0px;
}

h3 { 
    font-size: 38px;
    margin-bottom: 0px;
}

.game-settings {
    background-color: $game-color;
    color: $game-text-color;

    h3 { color: $game-text-color; }
    .setting-remark { color: rgba(0,0,0,0.5); }
}

#btn-start-game, #btn-start-game:visited {
    background-color: #0a4c60;
    color: #93cfe1;
    margin-top: 0.5em;

    &:hover {
        background-color: #93cfe1;
        color: #0a4c60;
    }
}

a.download-btn, a.download-btn:visited {
    color: $download-link-color;
    background-color: $download-link-bg;
    transition: color 0.3s;

    &:hover {
        color: $download-link-bg;
        background-color: $download-link-color;
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }

    &.no-shadow .big-header-image {
        filter: none;    
    }
}


@media all and (max-width: $cutoff) {
    .tagline {
        padding: 1em;
        border-radius: 1em;
    }

    .game-settings {
        font-size: 12px;
    }
}