{{ define "head" }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $favicon := partial "func/get-game-favicon.html" .Parent }}
    <link rel="icon" type="image/png" href="{{ $favicon }}">

    <title>{{ .Parent.Title }} | Game / Generator | Pandaqi Games</title>

    <!-- Unique CSS for this rulebook -->
    {{ partial "load-assets.html" (dict "context" . "ext" "css" "type" "game" "include" true) }}
</head>
{{ end }}

{{ define "header" }}
<!-- -->
{{ end }}
        
{{- define "main" -}}
{{ .Content }}
{{- end -}}

{{ define "footer" }}
    {{ partial "load-assets.html" (dict "context" . "ext" "js" "type" "game" "include" true) }}
{{ end }}