@use "sass:map";

$header-font: "dejavu";
$body-font: "dejavu";
$base: "/maybe-games/assets/";
$base-fonts: $base + "fonts/";

$bg-col: #FCFCFC;
$text-col: #111111;

$col1: red;
$col2: blue;
$col3: green;

body {
    font-family: $body-font;
    background-color: $bg-col;
    color: $text-col;
    font-size: calc(15px + 0.390625vw);
    line-height: 120%;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $header-font;
    font-weight: normal;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-BoldOblique.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DejaVuSansCondensed-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}