$header-font: "Asap";
$body-font: "Advent Pro";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Asap-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Asap-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Asap-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AdventPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AdventPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'AdventPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



body {
    background-image: url(totemsoftag_bg.webp);
    background-position: center;
    background-color: #94FF8C;
    background-size: 100%;
    font-family: $body-font, cursive;
    font-size: 24px;
    line-height: 120%;
    color: #101010;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font, sans-serif;
}

.limit-width, section .center {
    max-width: 700px;
}

img {
    max-width: 100%;
}

.game-header {
    position: relative;

    .video-over-header {
        max-width: 380px;

        box-shadow: #202 0 0 10px 2px;

        margin-left: 270px;
        margin-top: 110px;
    }
}

h1, h2 {
    text-align: center;
    font-size:52px;
    margin-bottom: 10px;
    margin-top: 40px;

    text-decoration: none;
    text-transform: none;
}

.poki-badge {
    padding: 12px !important;
}

.buy-link, main a {
    display: inline-block;
    padding: 20px;
    background-color: #6BB73E;
    color: rgba(0,0,0,0.75);
    border-radius:0.5em;
    text-decoration: none;
    font-family: $header-font, sans-serif;
    font-size: 32px;

    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 10px 2px #333;

    margin: 10px;
    max-width: 100%;
}

main a {
    display: block;
    text-align: center;
}

.buy-link:hover, main a:hover {
    background-color: #A33;
    color: rgba(255,255,255,0.75);
}

@media all and (max-width: 680px) {
    .video-over-header {
        max-width: 500px;
        margin: auto !important;
    }
}