<!DOCTYPE html>
<html lang="en-US">
    {{ block "head" . }}{{- partial "head.html" . -}}{{ end }}

    {{ $class := printf "page-type-%s" .Type }}
    <body class="{{ $class }}">
        {{ block "header" . }}
            {{- partialCached "navigation/header.html" . -}}
        {{ end }}

        <main>
        {{- block "main" . }}{{- end }}
        </main>

        {{ block "footer" . }}
            {{- partialCached "navigation/footer.html" . -}}
        {{ end }}

        {{ partial "navigation/footer-dynamic.html" . }}
    </body>
</html>