$header-font: "Sketchy";
$body-font: "Sriracha";
$base-fonts: "fonts/";

@font-face {
    font-family: $header-font;
    src: url($base-fonts + "sketchy.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'Sriracha-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

body {
    background-repeat: repeat;
    font-family: $body-font, Calibri, Georgia, cursive;
    font-size: 20px;
    line-height: 120%;

    background-color: rgb(251, 240, 226);
    color: #222222;

    position: relative;
    height: 100%;
}

.bgDiv { 
    background-image: url(stars.webp);
    filter: #{"invert"}();

    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;

    z-index: -50;
    opacity: 0.05;
}

#main {
    max-width: 550px;
    margin: auto;

    padding:10px;
    box-sizing: border-box;
}

h2 {
    text-decoration: none;

    margin-bottom: 0px;
    margin-top: 60px;

    font-size: 54px;
}

#playStoreDownloadButton {
    display:block;
    margin:auto;
    max-width: 320px;
    height:80px;
    background: url(downloadButton.webp);
    background-size: 100%;
}

#playStoreDownloadButton:hover, #playStoreDownloadButton:active {
    background: url(downloadButtonOver.webp);
    background-size: 100%;
}

.art-hockey-red {
    color: rgb(100, 0, 0);
}

.art-hockey-blue {
    color: rgb(0, 0, 100);
}

.art-hockey-green {
    color: rgb(0, 100, 0);
}

.art-hockey-purple {
    color: rgb(100, 0, 100);
}

@media all and (max-width: 600px) {
    h2 {
        font-size: 8vw;
    }
}
