@use "sass:color";

$header-font: "carousel";
$body-font: "dubellay";
$body-font-clean: "alegreya";
$base-fonts: "fonts/";

$bg-color: #100C15;
$text-color: #FCFCFC;

$col1: #d55ae8;
$col2: #ff6207;
$col3: #68d5a8;

$button-bg: $col2;
$button-color: $bg-color;
$link-color: color.adjust($col3, $lightness: -10%);
$link-color-hover: color.adjust($col3, $lightness: 10%);
$settings-color: $col1;

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DuBellayItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font;
    src: url($base-fonts + 'DuBellay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $header-font;
    src: url($base-fonts + 'Carousel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-clean;
    src: url($base-fonts + 'Alegreya-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $body-font-clean;
    src: url($base-fonts + 'Alegreya-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $body-font-clean;
    src: url($base-fonts + 'Alegreya-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $body-font;
    background-color: $bg-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
a.btn, #btn-create-pdf, #btn-generate-board, #btn-start-game,
input, button, select, option, label {
    font-family: $header-font;
    font-weight: normal;
}

input, button, select, option, label {
    font-family: $body-font;
}

a {
    color: $link-color; 
    &:hover {
        color: $link-color-hover;
    }
}

.game-settings {
    background-color: $settings-color;
}

.boardgame-intro {
    .tagline, .metadata {
        color: $text-color;
    }
}

a.download-btn, a.download-btn:visited, 
#btn-start-game, #btn-start-game:visited,
#btn-generate-board, #btn-generate-board:visited {
    background-color: $button-bg;
    color: $button-color;
    
    &:hover {
        background-color: $button-color;
        color: $button-bg;
    }
}

//
// Rules
//

.rulebook {
    font-family: $body-font-clean;
    color: #111111;

    a {
        color: color.adjust($col3, $lightness: -45%);
        &:hover {
            color: black;
        }
    }
}

$ii-size: 24px;

.inline-icon 
{
    width: $ii-size;
    height: $ii-size;
    background-image: url("misc.webp"); // perhaps use downscaled version?
    display: inline-block;
    background-size: cover;
    vertical-align: bottom;
}

.inline-icon-wildcard
{
    background-position-x: -4 * $ii-size;
}

.inline-icon-card
{
    background-position: -6 * $ii-size;
}

.inline-icon-set-match
{
    background-position: -7 * $ii-size;
}

.inline-icon-set-nomatch
{
    background-position: -8 * $ii-size;
}

$a: color.adjust($col1, $lightness: 20%);
$b: color.adjust($col2, $lightness: 20%);
$c: color.adjust($col3, $lightness: 20%);

#setup {
    background-color: $a;
}

#objective {
    background-color: $b;
}

#action_play {
    background-color: $c;
}

#expansions {
    background-color: $a;
}